/*
 * Created with iconvau.lt
 */

@font-face {
  font-family: "iconvault2";
  src: url("iconvault_2e3cb29f7d4700fde13fb9d4f9507202.eot");
  src: url("iconvault_2e3cb29f7d4700fde13fb9d4f9507202.eot?#iefix") format("embedded-opentype"),
       url("iconvault_2e3cb29f7d4700fde13fb9d4f9507202.woff") format("woff"),
       url("iconvault_2e3cb29f7d4700fde13fb9d4f9507202.ttf") format("truetype"),
       url("iconvault_2e3cb29f7d4700fde13fb9d4f9507202.svg#iconvault2") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-olimpiadas:before,
.icon-automovilismo:before,
.icon-ciclismo:before,
.icon-futbol:before,
.icon-beisbol:before,
.icon-futbolamericano:before,
.icon-boxeo:before,
.icon-tenis:before,
.icon-otrosdeportes:before,
.icon-baloncesto:before {
  font-family: "iconvault2";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-olimpiadas:before { content: "\f100"; }
.icon-automovilismo:before { content: "\f101"; }
.icon-ciclismo:before { content: "\f102"; }
.icon-futbol:before { content: "\f103"; }
.icon-beisbol:before { content: "\f104"; }
.icon-futbolamericano:before { content: "\f105"; }
.icon-boxeo:before { content: "\f106"; }
.icon-tenis:before { content: "\f107"; }
.icon-otrosdeportes:before { content: "\f108"; }
.icon-baloncesto:before { content: "\f109"; }