@(athletesForm: Form[models.content.athletes.Athlete])

@import helper._
@import helper.twitterBootstrap._

@title = {}

@socialNetworkGroup(field: Field, className: String = "socialNetwork") = {
    <div class="twipsies well @className">
        <a class="removeSocialNetwork btn btn-primary danger pull-right">@Messages("athletes.socialnetwork.remove")</a>
        @select(
            field("socialNetwork"),
            models.content.athletes.SocialNetwork.toSeq,
            '_label -> Messages("athletes.socialnetwork"),
            'class -> "form-control"
        )
        @input(field("link"), '_label -> Messages("athletes.socialnetwork.link")) { (id, name, value, _) =>
            <input type="text" name="@name" value="@value" class="form-control" >
        }
    </div>
}

@main(title = Messages("athletes.create"), nav = "create") {
    
     @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>@Messages("generic.error.title")</strong> @flash.get("success")
        </div>
    }

    @if(athletesForm.hasErrors) {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@Messages("generic.error.title")</strong> @Messages("generic.error.content")
            <p>@athletesForm.errorsAsJson</p>
        </div>
    }


    @helper.form(action = controllers.routes.AthletesView.submit, 'enctype -> "multipart/form-data", 'id -> "form") {
        
        <fieldset>
            <legend>@Messages("athletes.info")</legend>

            @inputText(athletesForm("name"),
            '_label -> Messages("athletes.name"),
            '_help -> Messages("athletes.name.help"),
            'class -> "form-control",
            '_error -> athletesForm.globalError)



            <div class="form-group">
                <label for="inputFile" class="col-lg-2 control-label">@Messages("athletes.image")</label>
                <div class="col-lg-10">
                    @input(athletesForm("defaultPhoto"), '_label -> Messages("athletes.image.file")) { (id, name, value, _) =>
                        <input type="text" name="@name" value="@value" readonly="" class="form-control floating-label" placeholder="Browse...">
                        <input type="file" name="@name" value="@value" id="inputFile" multiple="">
                    }
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <h2>@Messages("athletes.socialnetwork.plural")</h2>
                </div>
            </div>
            <div id="socialNetworks">

                @repeat(athletesForm("socialNetworks")) { socialNetwork =>

                    @socialNetworkGroup(socialNetwork)

                }
                @socialNetworkGroup(
                    athletesForm("socialNetworks[x]"),
                    className = "socialNetworks_template"
                )

                <div class="manage">
                    <a class="addSocialNetworks btn btn-primary success">@Messages("athletes.socialnetwork.add")</a>
                </div>

            </div>
            
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-success" value=@Messages("post.submit.create")>
            <a href="@controllers.routes.AthletesView.list()" class="btn btn-primary">@Messages("generic.cancel")</a>
        </div>
        
    }

    <script type="text/javascript" charset="utf-8">

        $('#form').submit(function() {
            $('.socialNetworks_template').remove()
        })

        $(document).on('click','.removeSocialNetwork', function(e) {
            $(this).parents('.socialNetwork').remove()
            renumberSocialNetworks()
        })

        $(document).on('click','.addSocialNetworks', function(e) {
            var template = $('.socialNetworks_template')
            template.before('<div class="twipsies well socialNetwork">' + template.html() + '</div>')
            renumberSocialNetworks()
        })

        var renumberSocialNetworks = function() {
            $('.socialNetwork').each(function(i) {
                $('input', this).each(function() {
                    if($(this).attr('name') != undefined){
                        $(this).attr('name', $(this).attr('name').replace(/socialNetworks\[.+?\]/g, 'socialNetworks[' + i + ']'))
                    }
                })
                $('select', this).each(function() {
                    if($(this).attr('name') != undefined){
                        $(this).attr('name', $(this).attr('name').replace(/socialNetworks\[.+?\]/g, 'socialNetworks[' + i + ']'))
                    }
                })
            })
        }

    </script>
 
}