row:not(input):not(textarea) {
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html { -ms-touch-action: none; font-family: Helvetica; }
body,ul,li { padding: 0; margin: 0; border: 0; width: 100%; height: 100%; color:#002878; background:#ffffff !important;}

.footer-section{color: #FFFFFF !important; text-decoration: none  !important; }
.footer-section:link {color: #FFFFFF !important; text-decoration: none  !important; }
.footer-section:visited {color: #FFFFFF !important; text-decoration: none  !important; }
.footer-section:hover {color: #FFFFFF !important; text-decoration: none  !important; }
.footer-section:active { color: #FFFFFF !important; text-decoration: none  !important; }

#wrapper, #wrapperM, .wrapper {
    position: absolute;
    z-index: 1;
    top: 50px;
    bottom: 50px;
    left: 0;
    width: 100%;
    background:#ffffff;
}

.wrapper {
  top: 35px;
  bottom: 0;
  }

#wrapperM {
    position: absolute;
    z-index:9;
    top: 50px;
    bottom: 0;
    width: 80%;
    left: -80%;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.66);
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.66);
}

#wrapper2,
#wrapper3 {
    position: absolute;
    z-index: 6;
    top: 50px;
    bottom: 50px;
    left: 0;
    width: 100%;
    background:#ffffff;
}

header, footer {
    position: absolute;
    z-index: 10;
    left:0;
    right:0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #FFFFFF;
    padding: 0 !important;
    margin:0 !important;
    border: 0;
}

header {
    background: #0073cf;
}

footer {
    line-height: 25px;
    color:#002878;
    bottom: 0;
    background: #134985;
    z-index: 7;
}

footer .option {
    padding: 5px !important;
    text-align: center;
}

footer *[class *= 'glyphicon'],
footer *[class *= 'icon-material'],
footer *[class *= 'mdi-'],
footer *[class *= 'icon-'] {
    font-size:1.6em;
    vertical-align:middle;
}

footer .glyphicon-class {
    font-size:0.8em;
    display: block;
    word-wrap: break-word;
}

footer .option.active {
    background-color:#fed100;
}

footer .option.active span {
  color:#002878 !important;
}

header .section {
    text-shadow: -1px 1px 1px rgba(0,0,0,0.5);
    color: #FFFFFF;
}

header .section.active {
    text-shadow: -1px 1px 1px rgba(0,0,0,0.5);
    color: #FFDE00;
}

footer .section {
    display: none;
}

footer .section .active {
    display:block;
}



body.content-match #wrapper .scroller .container .row .competition {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: solid 1pt #2B2B2B !important;
}


table {
  margin: 0 !important;
  border:0 !important;
  text-align: center;
}

table tr th {
  text-align: center;
}
table tbody tr  {
  height: 75px;
}

table tbody tr td {
  height: 75px;
  border:0 !important;
  padding: 0 !important;
}


table tbody tr:nth-child(even) {
  background: #ffffff;
  color: #002878;
}

table tbody tr:nth-child(odd) {
  background: #d0dbe7;
  color: #2c9cd3;
}

table tbody tr td.active {
  background: #fed100 !important;
  color: #002878 !important;
}

.content-leaderboard table tbody tr,
.content-leaderboard table tbody tr td,
.content-scorers table tbody tr,
.content-scorers table tbody tr td,
.content-standings table tbody tr,
.content-standings table tbody tr td {
  height: 25px;
  border:0 !important;
  padding: 0 !important;
  margin: 0 !important;
  padding:5px !important;
}


div.header {
    position: absolute;
    z-index: 4;
    top: 0;
    left:0;
    right:0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #7ab800;
    padding: 0 !important;
    margin:0 !important;
    border: 0;
    color:#ffffff;
}

div.header .caption {
    text-align: center;
    font-weight: bold;
}

div.header .left {
    text-align: right;
}

div.header .center {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

div.header .right {
    text-align: left;
}

.error {
    position: relative;
    margin: 0 auto;
    text-align:center;
    color: #9D9D9D;
    width: 100%;
    height:auto;
    left: 0;
    top: 25%;
    bottom: 0;
    right: 0;
    z-index: 8;
}

.loading {
    position: absolute;
    margin: 0 auto;
    text-align:center;
    width: 100%;
    height:auto;
    left: 0;
    top: 45%;
    bottom: 0;
    right: 0;
    z-index: 8;
    font-size:1.8em;
}


body.content-match .competition,
body.content-scorers .competition {
    text-transform:uppercase;
    display:none;
}

body.content-match .competition.active,
body.content-scorers .competition.active{
    display:block;
}



div.header {
    position: absolute;
    z-index: 4;
    top: 0;
    left:0;
    right:0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #7ab800;
    padding: 0 !important;
    margin:0 !important;
    border: 0;
    color:#ffffff;
}

div.header .caption {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}


div.header .left {
    text-align: right;
}

div.header .center {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

div.header .right {
    text-align: left;
}

.error {
    position: relative;
    margin: 0 auto;
    text-align:center;
    color: #9D9D9D;
    width: 100%;
    height:auto;
    left: 0;
    top: 25%;
    bottom: 0;
    right: 0;
    z-index: 9;
}


.loading {
    position: absolute;
    margin: 0 auto;
    text-align:center;
    width: 100%;
    height:auto;
    left: 0;
    top: 45%;
    bottom: 0;
    right: 0;
    z-index: 9;
    font-size:1.8em;
}

#wrapperH {
    position: absolute;
    z-index: 1;
    top: 50px;
    bottom: 50px;
    left: 0;
    width: 100%;
    background:  #FFFFFF;
    overflow: hidden;
}

#wrapperH #scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
    background-color: #FFFFFF;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#wrapperH #scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#wrapperH #scroller li {
    position: relative;
    display: block;
    float: left;
    height: 100%;
    border-right: 1px solid #ccc;
    background-color: #FFFFFF;
}


.row-back {
    position: absolute;
    z-index: 9;
    top: 0;
    left:0;
    right:0;
    width: 100%;
    height: 35px;
    line-height: 50px;
    background-color: #FFFFFF;
    color: #000000;
    padding: 0 !important;
    margin:0 !important;
    border: 0;
}

body.content-mtm .row-back {
    background-color: #e37222;
    color: #ffffff !important;
}


.row-back.border {
    border-bottom: solid 1pt #000000 !important;
}

.row-scoreboard {
    position: absolute;
    z-index: 4;
    top: -100px;
    left:0;
    right:0;
    width: 100%;
    height: 100px;
    line-height: 40px;
    background-color: #FFFFFF;
    color: #000000;
    padding: 0 !important;
    margin:0 !important;
    border: 0;

}



.wrapper,
.wrapper .scroller,
.wrapper .scroller .container,
.wrapper .scroller .container div {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #ffffff;
}

.date { font-weight: bold; font-size: 1.5em; }
.winner { font-weight: bold; }
.goal { font-size: 1.5em; }
.status { color:#000000; font-weight: bold; }

.status._0 { color:#fed100; }
.status._2 { color:#e37222; }
.status._4 { color:#7ab800; }

.status.PT { background-color:#7ab800; color: #ffffff; }
.status.ST { background-color:#fed100; color: #000000; }

td.bet div {
  position:relative;
  width:100%;
  height:100%;
}


/* From ext/bootstrap.css */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}
.col-xs-15 {
    width: 20%;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
    }
}

.bet-content {
    position: absolute;
    z-index: 10;
    left: 0;
    /* left: 50%;
     margin-left: -50px;*/
    bottom:  0;
    width:  150px;
    height: 75px;
    margin: 0 auto;
    background-color:red;
}

/*menu*/

.content-menu,
.content-sub-menu {background:#ffffff; height: 50px; line-height:50px; font-size: 1.4em; color:#134985;}
.content-menu div.col-xs-8,
.content-sub-menu div.col-xs-8{border-bottom: solid 1pt #ffca00; padding-left:0 !important;}
.content-menu span:last-child {text-transform:uppercase;}

.content-sub-menu div.col-xs-8 {
  border-bottom: solid 1pt #134985;
  padding-left:0 !important;
}

@media (max-height: 540px) {
    .content-sub-menu {
        display: none !important;
    }
}

/*menu*/

.tabs {
    opacity: 0.5;
    /*text-transform: capitalize;*/
}

.tabs button {
    background: none;
    border: 0;
}

.team-info{
    display: inline-block;
}

.team-logo{
    /*display: inline-block;*/
}

.btn-delete-item {
    background-color: #f44336 !important;
    border-radius: 100%;
    font-size: 12px;
    padding: 6px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    line-height: 10px;
    position: absolute;
    top: -12px;
    right: 16px;
}

/*Drawer*/
.mdi-navigation-more-vert,
.drawer-icon {
    vertical-align: middle;
    font-size: 2.5em;
}

.drawer-title{
    vertical-align: middle;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    text-transform:uppercase;
}

.drawer-app-logo {
    width: auto;
    height: 30px;
    position: relative;
    vertical-align: middle;
}

.icon-white {
    color: #FFF;
}

.icon-refresh-animate {
    -webkit-animation-name: rotateThis;
    animation-name: rotateThis;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes rotateThis {
    from { -webkit-transform: scale( 1 ) rotate( 0deg ); transform: scale( 1 ) rotate( 0deg );  transform-origin: 50% 47%;}
    to   { -webkit-transform: scale( 1 ) rotate( 360deg ); transform: scale( 1 ) rotate( 360deg ); transform-origin: 50% 47%;}
}

@keyframes rotateThis {
    from { -webkit-transform: scale( 1 ) rotate( 0deg ); transform: scale( 1 ) rotate( 0deg );   }
    to   { -webkit-transform: scale( 1 ) rotate( 360deg ); transform: scale( 1 ) rotate( 360deg ); }
}

.btn-orange {
    background-color: #F6921E !important;
    color: #FFF !important;
}

.text-center-vertical{
    vertical-align: middle;
}

.navbar{
    margin-bottom: 0;
}

/*Sections*/

.section-header {
    line-height: 35px;
    background-color: #7ab800;
    color: #FFF;
}

.section-header .caption{
    font-weight: bold;
}


/*Search Lists (Team/Language Selection)*/

.search-bar {
    margin-bottom: 0 !important;
}

.search-list-wrapper {
    top: 125px !important;
}

.search-list-item {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.search-list-pager {
    position: absolute;
    z-index: 2;
    top: 84%;
    width: 90%;
}

.search-list-pager li span {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

/*Settings*/

.settings-wrapper {
    top: 65px !important;
    background-color: transparent !important;
}

/*Settings Language*/

.lang-tag {
    font-weight: bold;
    font-style: normal;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    text-align: center;
    line-height: 56px;
    font-size: 20px;
    color: white;
    width: 56px;
    height: 56px;
}

.lang-name {
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
}


/*Standings*/

.row-standings-header {
    position: absolute;
    z-index: 4;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    line-height: 35px;
    background-color: #fed100;
    padding: 0 !important;
    margin: 0 !important;
    border: 0;
    color: #002878 !important;
    font-weight: bold;
}

/*No Content "Component"*/

.no-content-panel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  color: #777;
  padding: 24px !important;
  text-align:center;
  vertical-align:middle;
}

.no-content-panel i{
    font-size: 6em;

}

.no-content-panel .no-content-panel-title{
    position: relative;
    font-size: 24px;
    text-align: center;
}

/*Lists*/
/*.row-list-item{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: solid 1pt #2B2B2B !important;
}*/

/*Leaderboars*/

.row-header {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    padding: 0 !important;
    margin: 0 !important;
    border: 0;
    color: #ffffff;
    font-weight: bold;
}

.row-header-primary {
    background-color: #2196F3;
}

.row-header-competition {
    background-color: #7ab800 !important;
    height:35px;
}

  .content-prediction
  .row-header {
    height: 85px;
  }

  .content-prediction
  .row-header-competition {
    height: 55px;
  }

  .content-scorers
  .row-header {
    height: 55px;
  }

  .content-scorers
  .row-header-competition {
    height: 55px;
  }

  .content-leaderboard
  .row-header-competition {
    height: 55px;
  }

  .content-friends
  .row-header-competition {
    height: 55px;
  }

  .content-prediction
  .row-header-reference {
    height: 30px;
    background-color:#e37222;
    color:#000000;
  }

.row-header-live {
    background-color: #e37222;
}

.row-header .title {
    text-align: center;
    font-size : 1em;
    padding: 8px;
}


.scroller {
    position: absolute;
    width: 100%;
}

.own-player {
    font-weight: bold;
    background-color: #2196F3 !important;
}

.own-player td {
    background-color: #2196F3 !important;
}

.list-item {
    padding: 12px !important;
}

.full-separator {
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    width: 100%;
    border-bottom: 1px solid #555;
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
.client {
  color:#ff5722 !important;
  font-weight: bold;
  font-size: 1.2em;
}

h6.team-name {
  height:20px;
  height-line:10px;
 }

.content-prediction .bet {position:relative; vertical-align:middle;}
.content-prediction .bet.active {background-color:#9999   !important;}
.content-prediction .bet .mdi-navigation-check {display:none;}
.content-prediction .bet.active .mdi-navigation-check {
  position:absolute;
  font-weight:bold;
  font-size:1.8em;
  display:block;
  top:2px;
  right:2px;
  color:#7ab800;
}

#screen-block {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  text-align:center;
  vertical-align:middle;
 }



    /*<alidaniel>*/

      .h-horizontal {
        display:flex;
        justify-content:center;
      }

      .h-vertical {
        display:flex;
        flex-direction:column;
        justify-content:center;
      }


    .h-header {
      text-align: center;
      height:35px;
      line-height: 35px;
      font-weight:bold;
    }

    .h-header.green {
      background: #7ab800;
      color: #ffffff;
    }

    .h-header.yellow {
      background: #fed100;
      color: #002878;
    }

    .h-header.blue {
      background: #0073cf;
      color: #ffffff;
    }

    .h-header.red {
      background: #e37222;
      color: #ffffff;
    }

    .h-list {
      padding: 0 20px !important;
    }

    .h-list *[class *= 'col-'] {
      text-align: left;
      height:50px;
      line-height: 50px;
      border-bottom: solid 1pt #ffca00;
      font-weight:bold;
    }

    .h-list.news *[class *= 'col-'] {
        height:85px;
        line-height: 25px;
    }

    .h-list *[class *= 'col-']:last-child {
      border: 0 !important;
    }


    .content-news #wrapper,
    .content-news #wrapper2,
    .content-standings #wrapper,
    .content-standings #wrapper2,
    .content-standings #wrapper3{
      top: 50px;
    }


    .content-leaderboard .wrapper {
      top: 5px;
    }

    .content-scorers .wrapper {
      top: 55px;
    }

    .content-init #wrapper {
      top: 50px;
    }

    .content-mtm #wrapper {
      top: 85px;
    }

    #wrapper2.page,
    #wrapper3.page {
      left: 100%;
      z-index: 1;
    }

    .content-mtm #wrapper2 {
      top: 185px;
    }

    .content-mtm .h-header {
      top: -135px;
    }

    .content-news .headline {
      font-weight: bold;
      font-size: 1.2em;
    }

    .content-news .moment {
      color: #2c9cd3;
    }

    .content-news .body {
      margin-top: 10px !important;
    }

    .h-logo {
      height: auto;
    }

    .h-logo.login {
      width: 100px;
      margin-bottom: 20px;
    }

    .h-logo.menu {
      width: 75px;
      margin-top: 10px;
    }

    .content-mtm #wrapper2,
    .content-mtm #wrapper2 .scroller,
    .content-mtm #wrapper2 .scroller .container,
    .content-mtm #wrapper2 .scroller .container div {
        padding: 0 !important;
        margin: 0 !important;
    }

    .content-standings #wrapper3,
    .content-standings #wrapper3 .scroller,
    .content-standings #wrapper3 .scroller .container,
    .content-standings #wrapper3 .scroller .container div {
        padding: 0 !important;
        margin: 0 !important;
    }

    /*</alidaniel>*/
