/*From Cordova default CSS*/
*:not(input):not(textarea) {
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

/* Hecticus Styles */
body {
    padding-top: 50px;
    /*background-color: #000000;*/
    color: #000;
}

#uiview {
    width: 100%;
}

/*Fonts*/
body {
    font-family: Futura, Verdana, Sans-Serif;
    font-size: 12px;
}

/*Layout*/


/*Navbar*/
.navbar.navbar,
.navbar-default.navbar {
    background-color: #FFF;
    color: rgba(255, 255, 255, 0.84);
}

.navbar .nav-menu-icon {
    height: 50px;
    padding: 10px 15px;
}

/*Icons */
.icon-primary {
    color: #D0243A;
}

.icon-secondary{
    color: #A43062;
}

.icon-default {
    color: #723689;
}

.icon-neutral{
    color: #FFF;
}

/*Labels*/
.label-translucent {
    background-color: rgba(0, 0, 0, 0.3);
}

/*Sections*/

.section-title {
    margin-bottom: 4px;
}

.section-title-marker{
    display: inline-block;
    border-left: 4px solid #D0243A;
    height: 80%;
}

.section-title-default{
    color: #000;
}

.section-title-primary{
    color: #D0243A;
}

.section-title-neutral{
    color: #FFF;
}

.card-container {
    margin-top: 8px;
}

.btn-default {
    color: #D0243A;
}

.text-default {
    color: #D0243A;
}

/*Lists*/
.list-item {
    padding: 12px !important;
}

.full-separator {
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.logo{
    margin: 8px;
}

.scroll-container {
    position: relative;
}

.nav-scroll-header {
    margin-bottom: 15px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
}

.nav-tabs {
    background-color: #FFF !important;
}

.nav-tabs > li > a {
    color: #A43062 !important;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: #A43062 !important;
}

.img-responsive{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
}