.wrapper {
    position: absolute !important;
    z-index: 1;
    /*top:  0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #ffffff;
}

.wrapper-row {
    top: 100px;
}

.wrapper-menu {
    z-index: 9;
    top: 50px !important;
    width: 80% !important;
    left: -80% !important;
    height: 100%;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.66);
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.66);
}

.scroller {
    position: absolute;
    width: 100%;
}