@(id: Integer, resolutionViewForm: Form[models.content.feature.Resolution])

@import helper._
@import helper.twitterBootstrap._

@title = {}

@main(title = Messages("resolutions.edit"), nav = "create") {

    @if(resolutionViewForm.hasErrors) {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@Messages("generic.error.title")</strong> @Messages("generic.error.content")
            <p>@resolutionViewForm.errorsAsJson</p>
        </div>
    }


    @helper.form(controllers.routes.ResolutionsView.update(id), 'enctype -> "multipart/form-data") {

        <fieldset>
            <legend>@Messages("resolutions.info")</legend>

            @inputText(
                resolutionViewForm("width"),
                '_label -> Messages("resolutions.width"),
                '_help -> Messages("resolutions.width.help"),
                'class -> "form-control",
                '_error -> resolutionViewForm.globalError
            )

            @inputText(
                resolutionViewForm("height"),
                '_label -> Messages("resolutions.height"),
                '_help -> Messages("resolutions.height.help"),
                'class -> "form-control",
                '_error -> resolutionViewForm.globalError
            )

        </fieldset>

        <div class="actions">
            <input type="submit" value=@Messages("resolutions.submit.update") class="btn btn-success">
            <a href="@controllers.routes.ResolutionsView.list()" class="btn btn-primary">@Messages("generic.cancel")</a>
        </div>

    }

    @form(controllers.routes.ResolutionsView.delete(id), 'class -> "topRight") {
        <input type="submit" value=@Messages("resolutions.submit.delete") class="btn btn-danger">

    }

}
