	html{
		font-size:62.5%; 		
	}
	
	html, body, ul, li{		
		margin:0px; 
		padding:0px; 
		border:0; 
		width:100%; 
		overflow: hidden;
	}
	
		
	* {
		-webkit-tap-highlight-color:rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	}

	body {
	    -webkit-touch-callout:none;		/* prevent callout to copy image, etc when tap to hold */
	    -webkit-text-size-adjust:none;		/* prevent webkit from resizing text to fit */
	    -webkit-user-select:none;          /* prevent copy paste, to allow, change 'none' to 'text' */
	    font-family:Helvetica, Arial, sans-serif;
	    font-size:1em;
	    height:100%;
	    margin:0px;
	    padding:0px;
	    width:100%;
	    overflow: hidden;
	    background: #ffffff;
	    
	    
	    /*
		-webkit-text-size-adjust:none;
    	-moz-text-size-adjust:none;
    	-ms-text-size-adjust:none;
    	
    	-webkit-text-size-adjust:100%;
    	-moz-text-size-adjust:100%;
    	-ms-text-size-adjust:100%;	    
	    */
	}
	
	ul, li {
		list-style:none outside none;
	}
	
	h1 {font-size: 2em; /* 2em = 2 x 10px = 20px */}
	h2 {font-size: 1.8em; /* 1.8em x 10px = 18px */}
	h3 {font-size: 1.6em; /* 1.6em x 10px = 16px */}
	h4 {font-size: 1.4em; /* 1.4em x 10px = 14px */}
	h5 {font-size: 1.2em; /* 1.4em x 10px = 12px */}	
	p {font-size: 1.4em; /* 1.4em x 10px = 14px */}
	p {text-align:left; }

	
