*.bat
*.DS_Store
*.orig
.metadata/
FutbolBrasil/temp/
NoticiasTVN/NoticiasTVN/platforms/android/bin/
TVMaxPolla/TVMaxPolla/platforms/android/bin/
TVMaxPolla/TVMaxPolla/platforms/ios/CordovaLib/CordovaLib.xcodeproj/
TVMaxPolla/TVMaxPolla/platforms/ios/TVMaxPolla.xcodeproj/
NoticiasTVN/NoticiasTVN/platforms/ios/CordovaLib/CordovaLib.xcodeproj/
NoticiasTVN/NoticiasTVN/platforms/ios/NoticiasTVN.xcodeproj/
NoticiasTVN/NoticiasTVN/platforms/iphone/CordovaLib/CordovaLib.xcodeproj/
NoticiasTVN/NoticiasTVN/platforms/iphone/NoticiasTVN_iPhone.xcodeproj/
Memepedia/Memepedia/Memepedia/platforms/ios/CordovaLib/CordovaLib.xcodeproj/
Memepedia/Memepedia/Memepedia/platforms/ios/Memeteca.xcodeproj/
TVMaxPolla/TVMaxPolla/platforms/android/CordovaLib/bin/classes/
TVMaxPolla/TVMaxPolla/platforms/android/CordovaLib/gen/
TVMaxPolla/TVMaxPolla/platforms/android/gen/
TVMaxPolla/TVMaxPolla/platforms/android/.settings/
NoticiasTVN/NoticiasTVN/platforms/android/gen/
FutbolBrasil/app/plugins/com.phonegap.plugins.facebookconnect/platforms/android/cordova/node_modules/.bin/
