@(id: Long, bannerForm: Form[models.news.Banner], files: List[models.news.BannerFile])

@import helper._
@import helper.twitterBootstrap._

@title = {}

@main(title, nav = "create") {
    
    <h1>Edit Banner</h1>
    
     @helper.form(controllers.routes.Banner.update(id), 'enctype -> "multipart/form-data") {
        
        <fieldset>
        	<legend>Informacion del banner</legend>
        	
        	@inputText(bannerForm("name"), '_label -> "Nombre", '_help -> "Ingrese un nombre válido.", '_error -> bannerForm.globalError)
        	@inputText(bannerForm("link"), '_label -> "Url", '_help -> "Ingrese una url válida.", '_error -> bannerForm.globalError)
        	@textarea(bannerForm("description"), '_label -> "Descripción", 'cols -> 50, '_help -> "Ingrese una descripción valida.")                        
            
             @select(
                bannerForm("status"), 
                options("0"-> "Inactivo", "1"-> "Active"),
                '_default -> "--- Seleccione ---",
                '_label -> "Estatus",
                '_error -> bannerForm("status").error.map(_.withMessage("Selecciona una opción.")),
                'showConstraints -> true,
                '_help -> "Requerido."
            )
			
        </fieldset>
        
        <fieldset>
            <legend>Files uploads</legend>
            @for((file,index) <- files.zipWithIndex) {
	            <div class="clearfix" id="file[@index]_field">	    			
	    			<div class="input">	    			
	    				<img id="@file.getIdBannerFile()" src="@file.getLocation()" alt="@file.getName()" data-src="@file.getLocation()" style="width:75%; height: auto; vertical-align: middle">						
						<input type="file" name="@file.getIdBannerFile()" data-img="@file.getIdBannerFile()" > 
	        			<span class="help-inline"></span>
	        			<span class="help-block">Seleccione un banner con una dimensión ajustada en un ancho de @file.getWidth()px.</span>
	        			<a class="cancel" data-img="@file.getIdBannerFile()" style="cursor: pointer; display: none;">Cancel</a>
	    			</div>
				</div>
            }
      
        </fieldset>
  
        <div class="actions">        	        	
            <input type="submit" value="Actualizar este banner" onclick="return confirm('Está seguro?');" class="btn primary"> o 
            <a href="@controllers.routes.Banner.list()" class="btn">Cancelar</a> 
        </div>
            
    }
    
    @form(controllers.routes.Banner.delete(id), 'class -> "topRight") {
		<input type="submit" value="Delete this banner" onclick="return confirm('Está seguro?');" class="btn danger">
    }
       
}
