@(parent: Long, resolutions: List[models.news.BannerResolution])

@import helper._
@import helper.twitterBootstrap._

@title = {}

@main(title, nav = "create") {

			    @form(action = controllers.routes.Banner.uploadImage(), 'enctype -> "multipart/form-data") {

			    	@for((resolution,index) <- resolutions.zipWithIndex) {			    	
				    		<label for="@resolution.getWidth()">Seleccion file @resolution.getWidth()</label><br />	    		
				    		<input type="file" name="file[@index]" >
			    	}
						<input type="hidden" name="parent" value="@parent" />
					
			
				    
				    
				    <p>
				        <input type="submit"  class="btn primary" value="Create this Banner">	       
				    </p>
			    
				}
    

}

