@(id: Integer, postViewForm: Form[models.content.posts.Post])

@import helper._
@import helper.twitterBootstrap._

@title = {}

@localizationGroup(field: Field, className: String = "localization") = {
    <div class="twipsies well @className">
        <a class="removeLocalization btn btn-primary danger pull-right">Remove this Localization @Html(""+field("language").value.getOrElse("NONE"))</a>
        @select(
            field("language"),
            models.basic.Language.toSeq,
            '_label -> "Language",
            'class -> "form-control"
        )
        @input(field("title"), '_label -> "Title") { (id, name, value, _) =>
            <input type="text" name="@name" value="@value" class="form-control" >
        }
        @input(field("content"), '_label -> "Content") { (id, name, value, _) =>
            <input type="text" name="@name" value="@value" class="form-control" >
        }
    </div>
}

@countryGroup(field: Field, className: String = "country") = {
    <div class="twipsies well @className">
        <a class="removeCountry btn btn-primary danger pull-right">Remove this Country  @Html(""+field("country").value.getOrElse("NONE"))</a>
        @select(
            field("country"),
            models.basic.Country.toSeq,
            '_label -> "Country",
            'class -> "form-control"
        )
    </div>
}

@mediaGroup(field: Field, className: String = "media") = {
    <div class="twipsies well @className">
        <a class="removeMedia btn btn-primary danger pull-right">Remove this media</a>
        @if(field("link").value.getOrElse("NONE") == "NONE"){
            <div class="row-action-primary">
                <i class="icon-material-photo"></i>
            </div>
        } else {
            @input(field("link"), '_label -> "Media") { (id, name, value, _) =>
                <img class="img-rounded" src="@value" alt="icon" style="width: 100px; height: 100px;" >
            }
        }
        <div class="form-group">
            <label for="inputFile" class="col-lg-2 control-label">File</label>
            <div class="col-lg-10">
                @inputText(postViewForm("link"), '_label -> "Media", '_help -> "Ingrese un archivo local.", '_error -> postViewForm.globalError, 'class -> "form-control floating-label")
                <input type="file" id="inputFile" multiple="">
            </div>
        </div>
    </div>
}

@main(title = "Editar post", nav = "create") {

    @if(postViewForm.hasErrors) {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Oh snap!</strong> <a href="javascript:void(0)" class="alert-link">Change a few things up</a> and try submitting again.
            @postViewForm.errorsAsJson
        </div>
    }

    <h1>Edit Post</h1>

    @helper.form(controllers.routes.PostsView.update(id), 'enctype -> "multipart/form-data", 'id -> "form") {

        <fieldset>
            <legend>Informacion del Post</legend>


            @if(postViewForm("push").value == "1"){
                @inputText(postViewForm("pushDate"), '_label -> "Scheduled to push on", '_help -> "Ingrese un epoch, http://www.epochconverter.com/.", '_error -> postViewForm.globalError, 'class -> "form-control")
            }else{
                @if(postViewForm("push").value == "2"){
                    <p class="text-danger">Pushing...</p>
                }else{
                    @if(postViewForm("push").value == "3"){
                        <p class="text-success">Pushed on @Html(postViewForm("pushDate").value)</p>
                    }
                }
            }



            @inputText(postViewForm("date"), '_label -> "Date", '_help -> "Ingrese una fecha en formato yyyyMMddhhmm.", '_error -> postViewForm.globalError, 'class -> "form-control")

            @inputText(postViewForm("source"), '_label -> "Source", '_help -> "Ingrese un link válido.", '_error -> postViewForm.globalError, 'class -> "form-control")

            @select(
                postViewForm("socialNetwork"),
                models.content.women.SocialNetwork.toSeq,
                '_label -> "Social Network",
                '_error -> postViewForm.globalError,
                'class -> "form-control"
            )

            @select(
                postViewForm("woman"),
                models.content.women.Woman.toSeq,
                '_label -> "Woman",
                '_error -> postViewForm.globalError,
                'class -> "form-control"
            )

            <div class="row">
                <div class="col-lg-12">
                    <h2>Localizations</h2>
                </div>
            </div>
            <div id="localizations">

                @repeat(postViewForm("localizations")) { localization =>

                    @localizationGroup(localization)

                }
                @localizationGroup(
                    postViewForm("localizations[x]"),
                    className = "localization_template"
                )

                <div class="manage">
                    <a class="addLocalization btn btn-primary success">Add another Localization</a>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h2>Countries</h2>
                </div>
            </div>
            <div id="countries">

                @repeat(postViewForm("countries")) { country =>

                    @countryGroup(country)

                }
                @countryGroup(
                    postViewForm("countries[x]"),
                    className = "country_template"
                )

                <div class="manage">
                    <a class="addCountry btn btn-primary success">Add another Country</a>
                </div>

            </div>


            <div class="row">
                <div class="col-lg-12">
                    <h2>Media</h2>
                </div>
            </div>
            <div id="Media">

                @repeat(postViewForm("media")) { m =>

                    @mediaGroup(m)

                }
                @mediaGroup(
                    postViewForm("media[x]"),
                    className = "media_template"
                )

                <div class="manage">
                    <a class="addMedia btn btn-primary success">Add another Media</a>
                </div>

            </div>

        </fieldset>

        <div class="actions">
            <input type="submit" value="Actualizar este post" onclick="return confirm('¿Por favor confirmar que desea actualizar la información del post?');" class="btn btn-primary">
            <a href="@controllers.routes.PostsView.list()" class="btn">Cancelar</a>
        </div>

    }

    @form(controllers.routes.PostsView.delete(id), 'class -> "topRight") {
        <input type="submit" value="Eliminar este post" onclick="return confirm('¿Por favor confirmar que desea eliminar la información de este post?');" class="btn btn-danger">

    }

    <script type="text/javascript" charset="utf-8">

        $(document).on('click','.removeLocalization', function(e) {
            console.log("ESTO NO LO VEO")
            $(this).parents('.localization').remove()
            renumberLocalizations()
        })

        $(document).on('click','.addLocalization', function(e) {
            var template = $('.localization_template')
            template.before('<div class="twipsies well localization">' + template.html() + '</div>')
            renumberLocalizations()
        })

        var renumberLocalizations = function() {
            $('.localization').each(function(i) {
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/localizations\[.+?\]/g, 'localizations[' + i + ']'))

                })
            })
        }

        $(document).on('click','.removeCountry', function(e) {
            $(this).parents('.country').remove()
            renumberCountries()
        })

        $(document).on('click','.addCountry', function(e) {
            var template = $('.country_template')
            console.log(template)
            template.before('<div class="twipsies well country">' + template.html() + '</div>')
            renumberCountries()
        })

        var renumberCountries = function() {
            $('.country').each(function(i) {
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/countries\[.+?\]/g, 'countries[' + i + ']'))
                })
            })
        }

        $(document).on('click','.removeMedia', function(e) {
            $(this).parents('.media').remove()
            renumberMedia()
        })

        $(document).on('click','.addMedia', function(e) {
            var template = $('.media_template')
            console.log(template)
            template.before('<div class="twipsies well media">' + template.html() + '</div>')
            renumberMedia()
        })

        var renumberMedia = function() {
            $('.media').each(function(i) {
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/media\[.+?\]/g, 'media[' + i + ']'))
                })
            })
        }

        $('#form').submit(function() {
            $('.media_template').remove()
            $('.country_template').remove()
            $('.localization_template').remove()
        })



    </script>
}
