@(id: Integer, categoryViewForm: Form[models.content.posts.Category], categories: Boolean)

@import helper._
@import helper.twitterBootstrap._
@import helpers._

@title = {}

@localizationGroup(field: Field, className: String = "localization") = {
    <div class="twipsies well @className">
        <a class="removeLocalization btn btn-primary danger pull-right">@Messages("categories.localization.remove")</a>
        @select(
            field("language.idLanguage"),
            models.basic.Language.toSeq,
            '_label -> Messages("categories.localization.language"),
            'class -> "form-control"
        )
        @input(field("name"), '_label -> Messages("categories.localization.name")) { (id, name, value, _) =>
            <input type="text" name="@name" value="@value" class="form-control" >
        }
    </div>
}

@main(title =  Messages(if(categories) "categories.edit" else "tags.edit"), nav = "create") {

    @if(categoryViewForm.hasErrors) {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@Messages("generic.error.title")</strong> @Messages("generic.error.content")
            <p>@categoryViewForm.errorsAsJson</p>
        </div>
    }


    @helper.form(controllers.routes.CategoriesView.update(id, categories), 'enctype -> "multipart/form-data", 'id -> "form") {

        <fieldset>
            <div class="row">
                <div class="col-md-10">
                    <legend>@Messages(if(categories) "categories.info" else "tags.info")</legend>

                    @inputText(
                        categoryViewForm("name"),
                        '_label -> Messages(if(categories) "categories.name" else "tags.name"),
                        '_help -> Messages(if(categories) "categories.name.help" else "tags.name.help"),
                        'class -> "form-control",
                        '_error -> categoryViewForm.globalError
                    )
                </div>
                <div class="col-md-2">
                    @materialCheckbox(
                        categoryViewForm("followable"),
                        '_label -> Messages(if(categories) "categories.followable" else "tags.followable"),
                        'class -> "allCheckbox"
                    )
                </div>
            </div>

            <div id="localizations">

                @repeat(categoryViewForm("localizations")) { localization =>
                    @localizationGroup(localization)
                }
                @localizationGroup(
                    categoryViewForm("localizations[x]"),
                    className = "localization_template"
                )

                <div class="manage">
                    <a class="addLocalization btn btn-primary success">@Messages("categories.localization.add")</a>
                </div>

            </div>

       </fieldset>

        <div class="actions">
            <input type="submit" value=@Messages("categories.submit.update") class="btn btn-success">
            <a href="@controllers.routes.CategoriesView.list(categories)" class="btn btn-primary">@Messages("generic.cancel")</a>
        </div>

    }

    @form(controllers.routes.CategoriesView.delete(id, categories), 'class -> "topRight") {
        <input type="submit" value=@Messages("categories.submit.delete") class="btn btn-danger">

    }

    <script type="text/javascript" charset="utf-8">

        $(document).on('click','.removeLocalization', function(e) {
            $(this).parents('.localization').remove()
            renumberLocalizations()
        })

        $(document).on('click','.addLocalization', function(e) {
            var template = $('.localization_template')
            template.before('<div class="twipsies well localization">' + template.html() + '</div>')
            renumberLocalizations()
        })

        var renumberLocalizations = function() {
            $('.localization').each(function(i) {
                $('select', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/localizations\[.+?\]/g, 'localizations[' + i + ']'))
                })
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/localizations\[.+?\]/g, 'localizations[' + i + ']'))
                })
            })
        }



        $('#form').submit(function() {
            $('.localization_template').remove()
        })


    </script>

}
