@(categoryViewForm: Form[models.content.posts.Category], categories: Boolean)

@import helper._
@import helper.twitterBootstrap._
@import helpers._

@title = {}

@main(title = Messages(if(categories) "categories.create" else "tags.create"), nav = "create") {

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Error!</strong> @flash.get("success")
        </div>
    }

    @if(categoryViewForm.hasErrors) {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@Messages("generic.error.title")</strong> @Messages("generic.error.content")
            <p>@categoryViewForm.errorsAsJson</p>
        </div>
    }


    @helper.form(action = controllers.routes.CategoriesView.submit(categories)) {

        <fieldset>
            <div class="row">
                <div class="col-md-10">
                    <legend>@Messages(if(categories) "categories.info" else "tags.info")</legend>
                    @inputText(
                        categoryViewForm("name"),
                        '_label -> Messages(if(categories) "categories.name" else "tags.name"),
                        '_help -> Messages(if(categories) "categories.name.help" else "tags.name.help"),
                        'class -> "form-control",
                        '_error -> categoryViewForm.globalError
                    )
                </div>
                <div class="col-md-2">
                    @materialCheckbox(
                        categoryViewForm("followable"),
                        '_label -> Messages(if(categories) "categories.followable" else "tags.followable"),
                        'class -> "allCheckbox"
                    )
                </div>
            </div>

        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-success" value=@Messages("categories.submit.create")>
            <a href="@controllers.routes.CategoriesView.list(categories)" class="btn btn-primary">@Messages("generic.cancel")</a>
        </div>

    }

}