@(title: Html, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
    	
        <title>Tvn</title>
   
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui-1.10.4.js")" type="text/javascript"></script>        
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
        
		<script>
	  		$(function() {
	  		
	  		
	  			$(document).on('click','.cancel', function() {
	  				
	  				var _img = $('#' + $(this).data('img'));
	  				var _input = $('input[data-img="' + $(this).data('img') + '"]');
	  				
	  				_img.attr('src',_img.data('src'));	
	  				_input.val('');			
	  				$(this).hide();

	  			});	  	
	  		
	  			$(document).on('change','input[type=file]', function() {	  			
	  				  				
	  				var _img = $('#' + $(this).data('img'));
	  				var _cancel = $('a[data-img="' + $(this).data('img') + '"]');
	  				
					var files = !!this.files ? this.files : [];
        			if (!files.length || !window.FileReader) {
        				_img.attr('src',_img.data('src'));
        				_cancel.hide();
        				return; 	
        			};	// no file selected, or no FileReader support
 
	        		if (/^image/.test(files[0].type)) { // only image file
	            		var reader = new FileReader(); // instance of the FileReader
	            		reader.readAsDataURL(files[0]); // read the local file 
	            		reader.onloadend = function() { // set image data as background of div
	            			_img.attr('src',this.result);	            			
	            			_img.show();
	            			_cancel.show();						  
	            		};
	       		 	} else {
	       		 		_img.val('');
	       		 		_img.attr('src',_img.data('src'));	
	       		 	};

    			});
	  			
	  			
	  			$("#alert").click(
	  				function () {
	  					$(this).toggle();
	  				}
	  			);

	  			
	    		$( "#sortable tbody").sortable();	    		
	    		$( "#sortable tbody").disableSelection();

	    		$("#ajax").click(function () {
	    			
						var _url = $('#ajax').data('url'); 	    				
	    				var _arrC = [];
	    					    					    					    			
	    				$("#sortable tbody tr").each(function (i) {
	    					_arrC.push($(this).data("id"));
	    				});
	    					
						_arrC =_arrC.join(',');	
	    				$.ajax({
  							url: _url + _arrC,
  							success: function(data) {
  								$('#alert').show();
  							}
  						});
	    				
                		return false;

		            }
    			);





	  		});
	  		
				  		
	  		
  		</script>
		<style>
			.ui-sortable-helper {width:950px; height:40px;}
		</style>
		
    </head>
    <body>
        
        <div class="topbar">
            <div class="fill">
                <div class="container">
                	@if(session.get("logged") != null) {
                		
	                    <a class="brand" href="@controllers.routes.Application.index()">INICIO</a>
	                    	                    
	                    <ul class="nav">
							
							
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorías<span class="caret"></span></a>
						          	<ul class="dropdown-menu" role="menu">
							            <li><a href="@controllers.routes.Tvn.list()">Listar</a></li>
							            <li><a href="@controllers.routes.Tvn.lsort()">Ordenar</a></li>
							             <li class="divider"></li>
							            <li><a href="@controllers.routes.Tvn.blank()">Crear</a></li>
						          	</ul>
						        </li>                        	
		                        	
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Banners<span class="caret"></span></a>
						          	<ul class="dropdown-menu" role="menu">
							            <li><a href="@controllers.routes.Banner.list()">Listar</a></li>
							            <li><a href="@controllers.routes.Banner.lsort()">Ordenar</a></li> 
							            <li class="divider"></li>					            
							            <li><a href="@controllers.routes.Banner.blank()">Crear</a></li>
						          	</ul>
						        </li>                        	
		                        
		                        @if(session.get("logged") == "1") {
			                        <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario<span class="caret"></span></a>
							          	<ul class="dropdown-menu" role="menu">
								            <li><a href="@controllers.routes.User.list()">Listar</a></li>					            
								            <li class="divider"></li>
								            <li><a href="@controllers.routes.User.blank()">Crear</a></li>
							          	</ul>
							        </li>	
		                        }
		                             
		                        
		                        <li>		 
		                            <a href="@controllers.routes.User.logout()">Salir</a>
	                        </li>
							
								
								
						</ul>
	                    
					}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="content">
                
                <div class="page-header">
                
                    <!--h1>@title</h1-->
                                    
                    <img src="@routes.Assets.at("images/logo-hecticus.png")" style="width: 30%; height:auto;" />
                    &nbsp;&nbsp;           			        	            
            		<img src="@routes.Assets.at("images/logo-tvn.png")" style="width:8%; height:auto;" />
                    
                </div>

                <div class="row">
                    <div class="span14">
                        @content
                    </div>
                </div>
                
            </div>

            <footer>				
                <p>
                    <a href="http://www.hecticus.com">www.hecticus.com</a>
                </p>
            </footer>

        </div>
        
    </body>
</html>
