@(id: Integer, womenViewForm: Form[models.content.women.Woman])

@import helper._
@import helper.twitterBootstrap._

@title = {}

@categoryGroup(field: Field, className: String = "category") = {
    <div class="twipsies well @className">
        <a class="removeCategory btn btn-primary danger pull-right">Remove this Category: @Html(""+field("category.name").value.getOrElse("NONE"))</a>
        @select(
            field("category"),
            models.content.women.Category.toSeq,
            '_label -> "Categoria",
            'class -> "form-control"
        )
    </div>
}

@main(title = "Editar mujer", nav = "create") {

    @if(womenViewForm.hasErrors) {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Oh snap!</strong> <a href="javascript:void(0)" class="alert-link">Change a few things up</a> and try submitting again.
            <p>@womenViewForm.errorsAsJson</p>
        </div>
    }
    
    <h1>Edit Woman</h1>
    
     @helper.form(controllers.routes.WomenView.update(id), 'enctype -> "multipart/form-data", 'id -> "form") {
        
        <fieldset>
        	<legend>Informacion de la mujer</legend>
        	
        	@inputText(womenViewForm("name"),
                '_label -> "Nombre",
                '_help -> "Ingrese un nombre válido.",
                'class -> "form-control",
                '_error -> womenViewForm.globalError)



            @if(womenViewForm("defaultPhoto").value == null || womenViewForm("defaultPhoto").value.equals("")){
                <div class="form-group">
                    <label for="inputFile" class="col-lg-2 control-label">File</label>
                    <div class="col-lg-10">
                        <input type="text" readonly="" class="form-control floating-label" placeholder="Browse...">
                        <input type="file" id="inputFile" multiple="">
                    </div>
                </div>
            } else {
                <div class="col-lg-4">
                    @input(womenViewForm("defaultPhoto"), '_label -> "Foto default") { (id, name, value, _) =>
                        <img class="img-rounded" src="@value" alt="icon" style="width: 100px; height: 100px;" >
                    }
                </div>
                <div class="col-lg-8">
                    @inputText(womenViewForm("defaultPhoto"),
                        '_label -> "Foto URL",
                        '_help -> "Ingrese una url válida.",
                        'class -> "form-control",
                        '_error -> womenViewForm.globalError)
                </div>
            }

            <div class="row">
                <div class="col-lg-12">
                    <h2>Categories</h2>
                </div>
            </div>
            <div id="categories">

                @repeat(womenViewForm("categories")) { category =>

                @categoryGroup(category)

                }
                @categoryGroup(
                    womenViewForm("categories[x]"),
                    className = "category_template"
                )

                <div class="manage">
                    <a class="addCategory btn btn-primary success">Add another category</a>
                </div>

            </div>

        </fieldset>

        <div class="actions">        	        	 
            <input type="submit" value="Actualizar esta mujer" onclick="return confirm('¿Por favor confirmar que desea actualizar la información de la mujer?');" class="btn btn-success">
            <a href="@controllers.routes.WomenView.list()" class="btn btn-primary">Cancelar</a>
        </div>
            
    }
    
    @form(controllers.routes.WomenView.delete(id), 'class -> "topRight") {
		<input type="submit" value="Eliminar esta mujer" onclick="return confirm('¿Por favor confirmar que desea eliminar la información de esta mujer?');" class="btn btn-danger">
		
    }

    <script type="text/javascript" charset="utf-8">

        $(document).on('click','.removeCategory', function(e) {
            console.log("ESTO NO LO VEO")
            $(this).parents('.category').remove()
            renumberCategories()
        })

        $(document).on('click','.addCategory', function(e) {
            var template = $('.category_template')
            template.before('<div class="twipsies well category">' + template.html() + '</div>')
            renumberCategories()
        })

        var renumberCategories = function() {
        console.log("PASO?????");
            $('.category').each(function(i) {
                $('select', this).each(function() {
                    console.log("PASO "+$(this).attr('name'));
                    $(this).attr('name', $(this).attr('name').replace(/categories\[.+?\]/g, 'categories[' + i + ']'))
                    $(this).attr('id', $(this).attr('id').replace(/categories\_x/g, 'categories_' + i))

                })
                /*$('label', this).each(function() {
                    console.log("PASO1 "+$(this).attr('for'));
                    $(this).attr('for', $(this).attr('for').replace(/categories\_x/g, 'categories_' + i))
                })

                $('div', this).each(function() {
                    console.log("PASO2 "+$(this).attr('id'));
                    //$(this).attr('id', $(this).attr('id').replace(/categories\_x/g, 'categories_' + i))
                })*/
            })
        }

        $('#form').submit(function() {
            $('.category_template').remove()
        })

    </script>
       
}
