/*
 * Created with iconvau.lt
 */

@font-face {
  font-family: "iconvault";
  src: url("iconvault_05f17734ff3c2246bd3d3320314ef124.eot");
  src: url("iconvault_05f17734ff3c2246bd3d3320314ef124.eot?#iefix") format("embedded-opentype"),
       url("iconvault_05f17734ff3c2246bd3d3320314ef124.woff") format("woff"),
       url("iconvault_05f17734ff3c2246bd3d3320314ef124.ttf") format("truetype"),
       url("iconvault_05f17734ff3c2246bd3d3320314ef124.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-yoinformo:before,
.icon-sobreapp:before {
  font-family: "iconvault";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-yoinformo:before { content: "\f100"; }
.icon-sobreapp:before { content: "\f101"; }