
	* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
	html { -ms-touch-action: none; }			
	body,ul,li { padding: 0; margin: 0; border: 0; width: 100%; height: 100%;}
	body { overflow: hidden; /* this is important to prevent the whole page to bounce */}
		
	

	#wrapper, #wrapper2, #wrapperM { 
		position: absolute;z-index: 1; top: 50px; bottom: 0; left: 0; width: 100%; background: #fff;
	}
	
	.scroller {background-color: #ffffff;}
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		text-align: left;
	}


	
	
	header {	
		position: absolute; z-index: 2; top: 0; left: 0; 
		width: 100%; 
		height: 50px;
		line-height: 50px;
		background: #FFFFFF;
		padding: 0;
		color: #1E5733;
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		display: none;
		border-bottom: solid #4D4D4D;
	}
			
	header .glyphicon  {
		color: #3E79C4;
	}			
	
	
	
	
	body:not(.content-home) header {
		display: block;
	}
	
	figure { width: 100%; height: auto; position:relative; margin: 2px 0; }
	figure img { width: 100%;  height: auto;  position:relative; left:0; top:0; }			
	figcaption  {
		position: absolute;		
		z-index:100;
		bottom: 20%;
		font-size : 1.2em;			
		padding: 5px; 		
		line-height:20px;				 
		color:#ffffff; 
		text-align: left;
	}

	
	
	/*noticias*/
	body.content-noticias #wrapper .scroller .container  { padding:  2px !important; margin: 0 !important;}
	body.content-noticias #wrapper .scroller .container .row { padding: 0 !important; margin: 0 !important; }
	body.content-noticias #wrapper .scroller .container .row div { padding: 0 !important; margin: 0 !important;  }
	
	body.content-noticias #wrapper .scroller .container figure {position:relative;  width: 100%; height: auto; padding: 0; margin: 0; }|
	body.content-noticias #wrapper .scroller .container figure img { width: 100%;  height: auto;}			
	body.content-noticias #wrapper .scroller .container figcaption {
		font-size : 1em;			
		padding: 5px; 
		width:100%;
		line-height:20px;
		color:#ffffff; 
		text-align: left;	   
	    background-color:#3E79C4;
	    bottom: 0;	    
	    border-bottom: solid #FFD455;
	    
	}


	body.content-noticias #wrapper2 .scroller .container  { padding:  2px !important; margin: 0 !important;}
	body.content-noticias #wrapper2 .scroller .container .row { padding: 0 !important; margin: 0 !important; }
	body.content-noticias #wrapper2 .scroller .container .row div { padding: 0 !important; margin: 0 !important;  }
	
	body.content-noticias #wrapper2 .scroller .container p.title {
		position:relative;
		margin: 0; 
		padding:5px;
		background:#E6E6E6; 
		font-size:1.2em; 
		font-weight:bold; 
		color:#3E79C4; 
		
	}
	 
	body.content-noticias #wrapper2 .scroller .container p.date {
		position:relative;
		margin: 0; 
		padding:5px;
		background: #3E79C4;		
		text-align: right;
		font-size:0.9em; 
		color:#FFD455; 		
	}
	
	body.content-noticias #wrapper2 .scroller .container p.description {
		position:relative;
		margin: 0; 
		padding:5px;
		background: #E6E6E6; 
		font-size:1em; 
		color:#1E5733; 
		font-style:italic;
	}
	
	body.content-noticias #wrapper2 .scroller .container p.fullstory {
		position:relative;
		margin: 0; 
		padding:10px;
		font-size:1.2em;  
		color:#4D4D4D; 
		font-style:italic; 	
	}
	
	
	
	body.content-noticias #wrapper2 .scroller .container figure {position:relative;  width: 100%; height: auto; padding: 0; margin: 0; }|
	body.content-noticias #wrapper2 .scroller .container figure img { width: 100%;  height: auto;}			
	body.content-noticias #wrapper2 .scroller .container figcaption {
		font-size : 1em;			
		padding: 5px; 
		width:100%;
		line-height:20px;
		color:#ffffff; 
		text-align: left;	   
	    background-color:#3E79C4;
	    bottom: 0;	    
	    border-bottom: solid #FFD455;
	}
	/*noticias*/

	/*polla*/
	body.content-polla .hidden {display:none;}
	body.content-polla figure {text-align: center; margin: 0 auto; padding: 5px;}
	body.content-polla figure img {width: 67px; height: 45px;}
	body.content-polla figcaption {text-align: center; line-height:20px; position:relative;	}
	
	body.content-polla .goal {text-align: center; line-height:75px;  font-size: 1.4em; font-weight: bold;}
	body.content-polla .row.venue div { background:#ffffff; text-align:center; }
	body.content-polla span {font-size: 0.9em;}

	body.content-polla h3 {text-align: center; font-size: 1.6em; padding: 0; margin: 0; text-transform: uppercase;}
	body.content-polla .gol {position: absolute;  width:100%; top:-20px; background-color: yellow; z-index: 10; overflow-y: visible; }
	body.content-polla .add, .sub { display: block; line-height:30px; font-size:1.6em; font-weight: bold;   }
	body.content-polla .add { color: green;  }
	body.content-polla .sub { color: blue; }
	
	/*pronosticos*/
	body.content-pronosticos #wrapper .scroller .container  { padding:  2px !important; margin: 0 !important;}
	body.content-pronosticos #wrapper .scroller .container .row { padding: 0 !important; margin: 0 !important; }
	body.content-pronosticos #wrapper .scroller .container .row div { padding: 0 !important; margin: 0 !important;  }
	
	body.content-pronosticos #wrapper .scroller .container figure {position:relative;  width: 100%; height: auto; padding: 0; margin: 0; }|
	body.content-pronosticos #wrapper .scroller .container figure img { width: 100%;  height: auto;}			
	body.content-pronosticos #wrapper .scroller .container figcaption {
		font-size : 1em;			
		padding: 5px; 
		width:100%;
		line-height:20px;
		color:#ffffff; 
		text-align: left;	   
	    background-color:#3E79C4;
	    bottom: 0;	    
	    border-bottom: solid #FFD455;
	    
	}


	body.content-pronosticos #wrapper2 .scroller .container  { padding:  2px !important; margin: 0 !important;}
	body.content-pronosticos #wrapper2 .scroller .container .row { padding: 0 !important; margin: 0 !important; }
	body.content-pronosticos #wrapper2 .scroller .container .row div { padding: 0 !important; margin: 0 !important;  }
	
	body.content-pronosticos #wrapper2 .scroller .container p.title {
		position:relative;
		margin: 0; 
		padding:5px;
		background:#E6E6E6; 
		font-size:1.2em; 
		font-weight:bold; 
		color:#3E79C4; 
		
	}
	 
	body.content-pronosticos #wrapper2 .scroller .container p.date {
		position:relative;
		margin: 0; 
		padding:5px;
		background: #3E79C4;		
		text-align: right;
		font-size:0.9em; 
		color:#FFD455; 		
	}
	
	body.content-pronosticos #wrapper2 .scroller .container p.description {
		position:relative;
		margin: 0; 
		padding:5px;
		background: #E6E6E6; 
		font-size:1em; 
		color:#1E5733; 
		font-style:italic;
	}
	
	body.content-pronosticos #wrapper2 .scroller .container p.fullstory {
		position:relative;
		margin: 0; 
		padding:10px;
		font-size:1.2em;  
		color:#4D4D4D; 
		font-style:italic; 	
	}
	
	
	
	body.content-pronosticos #wrapper2 .scroller .container figure {position:relative;  width: 100%; height: auto; padding: 0; margin: 0; }|
	body.content-pronosticos #wrapper2 .scroller .container figure img { width: 100%;  height: auto;}			
	body.content-pronosticos #wrapper2 .scroller .container figcaption {
		font-size : 1em;			
		padding: 5px; 
		width:100%;
		line-height:20px;
		color:#ffffff; 
		text-align: left;	   
	    background-color:#3E79C4;
	    bottom: 0;	    
	    border-bottom: solid #FFD455;
	}
	/*pronosticos*/
	
	
	
	
	/*goles*/
	/*body.content-goles |class|element|id| {|property|}*/
	
	 
	/*polemicas*/
	body.content-polemicas #wrapper .scroller .container  { padding:  2px !important; margin: 0 !important;}
	body.content-polemicas #wrapper .scroller .container .row { padding: 0 !important; margin: 0 !important; }
	body.content-polemicas #wrapper .scroller .container .row div { padding: 0 !important; margin: 0 !important;  }
	
	body.content-polemicas #wrapper .scroller .container figure {position:relative;  width: 100%; height: auto; padding: 0; margin: 0; }|
	body.content-polemicas #wrapper .scroller .container figure img { width: 100%;  height: auto;}			
	body.content-polemicas #wrapper .scroller .container figcaption {
		font-size : 1em;			
		padding: 5px; 
		width:100%;
		line-height:20px;
		color:#ffffff; 
		text-align: left;	   
	    background-color:#3E79C4;
	    bottom: 0;	    
	    border-bottom: solid #FFD455;
	    
	}


	body.content-polemicas #wrapper2 .scroller .container  { padding:  2px !important; margin: 0 !important;}
	body.content-polemicas #wrapper2 .scroller .container .row { padding: 0 !important; margin: 0 !important; }
	body.content-polemicas #wrapper2 .scroller .container .row div { padding: 0 !important; margin: 0 !important;  }
	
	body.content-polemicas #wrapper2 .scroller .container p.title {
		position:relative;
		margin: 0; 
		padding:5px;
		background:#E6E6E6; 
		font-size:1.2em; 
		font-weight:bold; 
		color:#3E79C4; 
		
	}
	 
	body.content-polemicas #wrapper2 .scroller .container p.date {
		position:relative;
		margin: 0; 
		padding:5px;
		background: #3E79C4;		
		text-align: right;
		font-size:0.9em; 
		color:#FFD455; 		
	}
	
	body.content-polemicas #wrapper2 .scroller .container p.description {
		position:relative;
		margin: 0; 
		padding:5px;
		background: #E6E6E6; 
		font-size:1em; 
		color:#1E5733; 
		font-style:italic;
	}
	
	body.content-polemicas #wrapper2 .scroller .container p.fullstory {
		position:relative;
		margin: 0; 
		padding:10px;
		font-size:1.2em;  
		color:#4D4D4D; 
		font-style:italic; 	
	}
	
	
	
	body.content-polemicas #wrapper2 .scroller .container figure {position:relative;  width: 100%; height: auto; padding: 0; margin: 0; }|
	body.content-polemicas #wrapper2 .scroller .container figure img { width: 100%;  height: auto;}			
	body.content-polemicas #wrapper2 .scroller .container figcaption {
		font-size : 1em;			
		padding: 5px; 
		width:100%;
		line-height:20px;
		color:#ffffff; 
		text-align: left;	   
	    background-color:#3E79C4;
	    bottom: 0;	    
	    border-bottom: solid #FFD455;
	}
	/*polemicas*/
		
	/*calendario*/
	body.content-calendario #wrapper,
	body.content-calendario #wrapper2 { 
		position: absolute;
		z-index: 1; 
		top: 100px; 
		bottom: 0; 
		left: 0; 
		width: 100%; 
		background: #fff;
		
	}

	body.content-calendario figure {text-align: center; margin: 0 auto; padding: 5px;}
	body.content-calendario figure img {width: 67px; height: 45px;}
	body.content-calendario figcaption {
		text-align: center; 
		line-height:20px; 
		position:relative;
		font-size : 0.9em;	
		font-weight: bold;
		color:#000; 
	    background:none;
	    text-shadow: none;
	}


	hl2 { font-size:1.2em; font-weight: bold; margin: 5px 0 5px 0;}


	body.content-home .container { padding:  0 !important; margin: 0 !important;}
	body.content-home .container .row { padding: 2px !important; margin: 0 !important;}
	body.content-home .container .row .metro { padding: 2px !important; margin: 0 !important;}
	
			
	body.content-home header {display: none;}
	body.content-home #wrapper, body.content-home #wrapperM { 
		position: absolute;
		z-index: 1; 
		top: 0px; 
		bottom: 0; 
		left: 0; 
		width: 100%; 
		background: #fff;
	}

	body.content-home figure {position:relative; width: 100%; height: auto;}
	body.content-home figure img { width: 100%;  height: auto;}			
	body.content-home figcaption {
		font-size : 1em;			
		padding: 5px; 
		width:100%; 
		line-height:20px;				 
		color:#ffffff; 
		text-align: left;
	    background-color:#3E79C4;
	    position: absolute;	
	    bottom: 0;	
	}

	



