@(languageViewForm: Form[models.basic.Language])

@import helper._
@import helper.twitterBootstrap._

@title = {}

@main(title = "Crear Language", nav = "create") {

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Error!</strong> @flash.get("success")
        </div>
    }

    @if(languageViewForm.hasErrors) {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Oh snap!</strong> <a href="javascript:void(0)" class="alert-link">Change a few things up</a> and try submitting again.
            <p>@languageViewForm.errorsAsJson</p>
        </div>
    }


    @helper.form(action = controllers.routes.LanguagesView.submit, 'enctype -> "multipart/form-data") {

        <fieldset>
            <legend>Información del language</legend>

            @inputText(
                languageViewForm("name"),
                '_label -> "Nombre",
                '_help -> "Ingrese un nombre válido.",
                'class -> "form-control",
                '_error -> languageViewForm.globalError
            )

            @inputText(
                languageViewForm("shortName"),
                '_label -> "Default photo",
                '_help -> "Ingrese una url válida.",
                'class -> "form-control",
                '_error -> languageViewForm.globalError
            )

            @inputText(
                languageViewForm("active"),
                '_label -> "Active",
                '_help -> "Ingrese 0 o 1.",
                'class -> "form-control",
                '_error -> languageViewForm.globalError
            )

        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Crear este language">
            <a href="@controllers.routes.LanguagesView.list()" class="btn">Cancelar</a>
        </div>

    }

}