@(currentPage: com.avaje.ebean.Page[models.basic.Language], currentSortBy: String, currentOrder: String, currentFilter: String, sortView: Boolean)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    controllers.routes.LanguagesView.list(newPage, sortBy, order, currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class='@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}'>
        <a href="@link(0, key)">@title</a>
    </th>
}

@title = {}

@main(title = "Languages", nav = "") {
<div class="bs-docs-section">

    <div class="row">
        <div class="col-lg-12">
            <h1 id="homeTitle">@Messages("language.list.title", currentPage.getTotalRowCount)</h1>
        </div>
    </div>

    <!--DIALOG-->
    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Hecho!</strong> @flash.get("success")
        </div>
    }
    <div id="alert" class="alert-message warning" style="display: none; ">
        <strong>Hecho!</strong>
    </div>

    <!--ACTIONS-->
    <div id="actions">
        <form action='@link(0, "name")' method="GET">

            @if(!sortView) {
                <div class="col-lg-6">
                    <input type="search" class="form-control floating-label" id="searchbox" name="f" placeholder="Filtrar por nombre del lenguaje...">
                </div>
                <div class="col-lg-6">
                    <input type="submit" id="searchsubmit" value="Filtrar por nombre" class="btn primary">
                </div>
            }

            @if(sortView) {
                <a class="btn success" id="ajax" href="#" data-url="/garotas/v1/languages/sort/" >Aplicar</a>
            }

        </form>
    </div>

    @if(currentPage.getTotalRowCount == 0) {

        <div class="well">
            <em>No hay nada que mostrar</em>
        </div>

    } else {
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <div class="list-group">
                        @for((language, index) <-  currentPage.getList().zipWithIndex) {
                        <div class="list-group-item">
                            <a href="@controllers.routes.LanguagesView.edit(language.getIdLanguage())">
                                <div class="row-content">
                                    <h4 class="list-group-item-heading">@Html(""+language.getIdLanguage()) - @Html(language.getName())</h4>
                                </div>
                            </a>
                        </div>
                        <div class="list-group-separator">
                            <!--separator-->
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">

            <ul class="pager">

                @if(currentPage.hasPrev) {
                    <li class="previous">
                        <a href="@link(currentPage.getPageIndex - 1, null)">← Anterior</a>
                    </li>
                } else {
                    <li class="previous disabled">
                        <a href="javascript:void(0)">← Anterior</a>
                    </li>
                }

                <li class="current">
                    <a>Listando del @currentPage.getDisplayXtoYofZ(" al "," de ")</a>
                </li>

                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Pr&oacute;ximo →</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a href="javascript:void(0)">Pr&oacute;ximo →</a>
                    </li>
                }


            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="@controllers.routes.LanguagesView.blank" class="btn btn-primary">Agregar nuevo Language</a>
        </div>
    </div>

</div>

}
