.phone_template, .twipsies.well.localization_template, .twipsies.well.country_template, .twipsies.well.athlete_template, .twipsies.well.media_template, .twipsies.well.category_template, .twipsies.well.socialNetworks_template, .twipsies.well.role_template {
    display:none !important;
}

#map-canvas {
    width: 100%;
    height: 400px;
}

