@(id: Long, categoryForm: Form[models.news.Category])

@import helper._
@import helper.twitterBootstrap._

@title = {}

@main(title, nav = "create") {
    
    <h1>Editar categoría</h1>
    
    @helper.form(controllers.routes.Tvn.update(id)) {
        
        <fieldset>
        
        	@inputText(categoryForm("name"), '_label -> "Nombre", '_help -> "Ingrese un nombre válido.", '_error -> categoryForm.globalError)            
            @inputText(categoryForm("feedUrl"), '_label -> "Url", '_help -> "Ingrese una url válida.")
            
            @select(
                categoryForm("pushable"), 
                options("false"-> "No", "true"-> "Si"),
                 '_default -> "--- Seleccione ---",
                '_label -> "Pushable",
                '_error -> categoryForm("pushable").error.map(_.withMessage("Seleciones una opción")),
                'showConstraints -> true,
				'_help -> "Requerido."
            )

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Actualizar esta categoría" onclick="return confirm('¿Por favor confirmar que desea actualizar la información de la categoría?');" class="btn primary"> o 
            <a href="@controllers.routes.Tvn.list()" class="btn">Cancelar</a> 
        </div>
            
    }
    
    @form(controllers.routes.Tvn.delete(id), 'class -> "topRight") {
		<input type="submit" value="Eliminar esta categoría" onclick="return confirm('¿Por favor confirmar que desea eliminar la información de la categoría?');" class="btn danger">
    }
       
}
