@(categoryForm: Form[models.news.Category])

@import helper._
@import helper.twitterBootstrap._

@title = {}

@main(title, nav = "create") {
    
    @helper.form(action = controllers.routes.Tvn.submit) {
        
        <fieldset>
            <legend>Información de la categoría</legend>
            
            @inputText(
                categoryForm("name"), 
                '_label -> "Nombre", 
                '_help -> "Ingrese un nombre válido.",
                '_error -> categoryForm.globalError
            )
            
            @inputText(
                categoryForm("feedUrl"),
                '_label -> "Url",
                '_help -> "Ingrese una url válida."
            )
            
            @select(
                categoryForm("pushable"), 
                options("false"-> "No", "true"-> "Si"),
                '_default -> "--- Seleccione ---",
                '_label -> "Pushable",
                '_error -> categoryForm("pushable").error.map(_.withMessage("Selecciona una opción")),
                '_help -> "Requerido."
            )
            
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Crear esta categoría">
            <a href="@controllers.routes.Tvn.list()" class="btn">Cancelar</a>
        </div>
        
    }
    
}