/*No Content "Component"*/

.no-content-panel {
    color: #777;
    text-align: center;
    width: 100%;
    height: auto;
    position: absolute;
    /*margin: 0 auto !important;*/
    margin-top: 120px !important;
    padding: 24px !important;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 8;
}

.no-content-panel i{
    font-size: 6em;

}

.no-content-panel .no-content-panel-title{
    position: relative;
    font-size: 24px;
    text-align: center;
}