<div class="row">
    <div class="col-xs-10 col-xs-offset-1 text-center well">
        <!--style="position: absolute; top: 10%;"-->

        <form name="msisdnForm" ng-submit="sendMsisdn()">
            <div>
                <h4 class="text-muted">{{strings.LOGIN_WELCOME_MESSAGE}}</h4>
                <h4 class="text-muted">{{strings.MSISDN_HELPER}}</h4>
            </div>

            <div class="form-control-wrapper">
                <input type="tel" class="form-control empty"ng-model="msisdn"
                       id="msisdnInput" placeholder="{{strings.MSISDN_HOLDER}}">
                <span class="material-input"></span>
            </div>

            <button data-loading-text="{{strings.LOADING_MESSAGE}}"
                    type="submit" class="btn btn-danger btn-orange touch-enable"
                    >{{strings.START_TRIAL_MESSAGE}}</button>
        </form>

        <form name="passwordForm" ng-submit="doMsisdnLogin()">
            <div id="passwordInputGroup" ng-class="{hidden: !isPasswordScreenVisible}">
                <h4 class="text-muted">{{strings.PASSWORD_LABEL}}</h4>
                <div class="form-control-wrapper">
                    <input type="password" class="form-control empty"
                           id="passwordInput" ng-model="password" placeholder="{{strings.PASSWORD_HOLDER}}">
                    <span class="material-input"></span>
                </div>
                <div id="passSendButton" >
                    <button data-loading-text="{{strings.LOADING_MESSAGE}}" type="submit"
                            class="btn btn-danger btn-orange touch-enable">{{strings.SEND_MESSAGE}}</button>
                </div>
                <div id="resendPassButton">
                    <button data-loading-text="{{strings.LOADING_MESSAGE}}" type="button"
                            class="btn btn-danger btn-orange touch-enable" ng-click="sendMsisdn()">{{strings.RESEND_MESSAGE}}</button>
                </div>
            </div>
        </form>
    </div>
</div>