<div class="row h-header green">
    <div class="col-xs-12" >
        <span >{{date}}</span>
    </div>
</div>

<div id="wrapper" class="page wrapper">
    <div class="scroller">
        <div class="container" >
            <div class="row" ng-hide="hasGamesForToday">
                <div class="col-xs-12">
                    <table class="table" ng-repeat="league in item.leagues">
                        <thead>
                            <tr>
                                <th colspan="3" class="h-header yellow">
                                    <span ng-bind="league.name"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="match in league.fixtures"
                                ng-click="showContentEvents(league, match)">
                                <td style="width: 33% !important; vertical-align:middle;"
                                    ng-class="{winner: match.home_team_goals >= match.away_team_goals}">
                                    <h6 ng-bind="match.homeTeam.name" class="team-name"></h6>
                                    <span ng-bind="match.home_team_goals" class="goal" ng-if="match.id_status != 0"></span>
                                </td>

                                <td style="width: 33% !important;  vertical-align:middle;">
                                    <span ng-bind="getTime(match.date)" class="date"></span>
                                    <br/>
                                    <span class="status _{{match.id_status}}">{{ match.status | translate}}
                                    </span>
                                </td>

                                <td style="width: 33% !important;  vertical-align:middle;"
                                    ng-class="{winner: match.away_team_goals >= match.home_team_goals}">
                                    <h6 ng-bind="match.awayTeam.name" class="team-name"></h6>
                                    <span ng-bind="match.away_team_goals" class="goal" ng-if="match.id_status != 0"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" ng-show="hasGamesForToday">
                <div class="col-xs-12">
                    <div class="no-content-panel" style="margin-top: 120px !important;">
                        <i class="mdi-action-info-outline"></i>
                        <div class="no-content-panel-title" translate>EMPTY_STATES.LIVE</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wrapper2" class="page wrapper">
    <div class="scroller">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" >
                    <table class="table" ng-repeat="action in item.mtm.actions">
                        <thead>
                            <tr>
                                <th colspan="2" class="status {{action.period.short_name}} h-header yellow">
                                    <span ng-bind="action.period.name"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="event in action.events  track by event.id_game_match_events"  >
                            <td style="width: 20% !important;" >
                                <span >{{event.action_minute}}'</span>
                            </td>
                            <td style="width: 80% !important; text-align: left; ">
                                <p >
                                    <b>{{event.player_a}}</b> de {{event.teams}},  {{event.action.description}}
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-header h-header red">
      <div class="col-xs-12">
        <span ng-bind="item.league.name"></span>
          <span ng-class="refreshIconClass" ng-click="refreshEvents()" style="position: absolute; right: 10px;">
              <i class="icon mdi-navigation-refresh" style=" font-size:2em;vertical-align: middle;"></i>
          </span>
      </div>
    </div>

    <div class="row-scoreboard">
      <div class="row text-center">
        <div class="col-xs-6" ng-class="{winner:item.match.home.goals >= item.match.away.goals}">
          <span ng-bind="item.match.home.name" style="font-size: 1.2em;"></span>
        </div>
        <div class="col-xs-6" ng-class="{winner:item.match.away.goals >= item.match.home.goals}">
          <span ng-bind="item.match.away.name" style="font-size: 1.2em;"></span>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-xs-6" ng-class="{winner:item.match.home.goals >= item.match.away.goals}">
          <span ng-bind="item.match.home.goals" class="goal"></span>
        </div>
        <div class="col-xs-6" ng-class="{winner:item.match.away.goals >= item.match.home.goals}">
          <span ng-bind="item.match.away.goals" class="goal"></span>
        </div>
      </div>
    </div>


</div>



