<div id="wrapper" class="page">
    <div class="scroller">

        <div class="container">

          <!--div class="row" >

              <div class="list-group" >
                <div class="list-group-item"
                     ng-repeat="item in news track by item.idNews"
                     ng-show="hasNews"
                     ng-click="showContentNews(item)">
                  <div class="row-picture">
                    <img  src="http://www.mismarcadores.com/res/image/data/hGlHA3CO-EkETOV6k.png" alt="icon">
                  </div>
                  <div class="row-content">
                    <span class="h-ellipsis" style="color: rgb(0,40,120);">{{item.title}}</span>
                    <i class="icon mdi-device-access-time"></i>
                    <span class="moment" style="color: #2c9cd3;">{{fromNow(item.publicationDate)}}</span>
                  </div>
                </div>

            </div-->

                      <div class="row h-list news">

                          <div class="col-xs-12 "
                               ng-repeat="item in news track by item.idNews"
                               ng-show="hasNews"
                               on-last-repeat ng-click="showContentNews(item)">

                            <div class="col-xs-4" style="border:0; padding:0;">
                              <img class="img-thumbnail" style="width:85%; height: auto;" src="http://www.mismarcadores.com/res/image/data/hGlHA3CO-EkETOV6k.png" alt="icon">
                            </div>
                            <div class="col-xs-8" style="border:0; padding:0;">
                              <span class="h-headline h-ellipsis" style="font-weight:bold;" >{{item.title}}</span>
                              <br />
                              <i class="icon mdi-device-access-time"></i>
                              <span class="moment" style="color: #2c9cd3;">{{fromNow(item.publicationDate)}}</span>
                            </div>

                          </div>
                        </div>
          </div>
        </div>
    </div>
</div>



<div id="wrapper2" class="page" style="left: 100%;" >
    <div class="scroller">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                  <h3 class="headline">{{contentNews.title}}</h3>
                  <i class="icon mdi-device-access-time"></i>
                  <span class="moment">{{fromNow(contentNews.publicationDate)}}</span>
                </div>
                <div class="col-xs-12">
                  <p class="body" ng-bind-html="contentNews.body"></p>
                </div>
            </div>
        </div>
    </div>


</div>

<div style="position: absolute; z-index: 120; top:0; right:20px; height:50px; line-height:50px;" ng-click="share(contentNews)" ng-show="isPageContentLeft">
  <i class="mdi-social-share" style="font-size:2em; vertical-align: middle; color:#ffffff; "></i>
</div>

<div class="no-content-panel h-horizontal" ng-hide="hasNews">
  <div class="h-vertical">
    <i class="mdi-action-info-outline"></i>
    <div class="no-content-panel-title" translate>EMPTY_STATES.NEWS</div>
  </div>
</div>
