<div class="row">
  <div class="col-xs-12 h-header red" style="text-align:center;">
    <i class="mdi-action-account-circle"
       style="font-size:2em; height:35px; line-height:35px; vertical-align:middle;"></i>
    <span ng-bind="getNameClient" ></span> /
    <span ng-bind="getTotalPointsClient" ></span> <span translate>LEADERBOARD.POINTS</span>

  </div>

</div>



<div class="row" ng-show="hasScore">
  <div class="col-xs-12 h-header green" style="padding: 0 !important;" >
    <table class="table h-table">
      <thead>
      <tr>
        <th style="width:60%;">
          <span translate>LEADERBOARD.TOURNAMENT</span>
        </th>
        <th style="width:20%;">
          <span translate>LEADERBOARD.HITS</span>
        </th>
        <th style="width:20%;">
          <span translate>LEADERBOARD.POINTS</span>
        </th>
      </tr>
      </thead>
    </table>

  </div>

    <div id="tournamentScroll" class="wrapper" ng-style="getHeight()">
        <div class="scroller" ng-style="getWidth()">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table h-table">
                        <!--thead>
                            <tr class="h-header green">
                                <th>
                                    <span translate>LEADERBOARD.TOURNAMENT</span>
                                </th>
                                <th>
                                    <span translate>LEADERBOARD.HITS</span>
                                </th>
                                <th >
                                    <span translate>LEADERBOARD.POINTS</span>
                                </th>
                            </tr>
                        </thead-->

                        <tbody >

                            <tr  ng-repeat="tournament in tournaments track by tournament.id_tournament" ng-class="{'active' : $odd}">

                              <td class="h-ellipsis-truncate" style="text-align: left;" >
                                <span ng-bind="tournament.name" style="font-weight:bold;"></span>
                              </td>

                              <td style="text-center-vertical; width:20%;">
                                <span ng-bind="tournament.hits"></span>
                              </td>

                              <td style="text-center-vertical; width:20%;">
                                <span ng-bind="tournament.score"></span>
                              </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-hide="hasScore">
    <div class="col-xs-12 news">
        <div class="no-content-panel" >
            <i class="mdi-action-info-outline"></i>
            <div class="no-content-panel-title" translate>EMPTY_STATES.POINTS</div>
        </div>
    </div>
</div>
