
<div class="row" ng-show="hasScore">
    <div id="tournamentScroll" class="wrapper" ng-style="getHeight()">
        <div class="scroller" ng-style="getWidth()">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table h-table">
                        <thead>
                            <tr class="h-header green">
                                <th >
                                    <span translate>LEADERBOARD.TOURNAMENT</span>
                                </th>
                                <th>
                                    <span translate>LEADERBOARD.HITS</span>
                                </th>
                                <th >
                                    <span translate>LEADERBOARD.POINTS</span>
                                </th>
                            </tr>
                        </thead>

                        <tbody >

                            <tr  ng-repeat="tournament in tournaments track by tournament.id_tournament" ng-class="{'active' : $odd}">

                              <td class="h-ellipsis-truncate" style="text-align: left;" >
                                <span ng-bind="tournament.name" style="font-weight:bold;"></span>
                              </td>

                              <td style="text-center-vertical">
                                <span ng-bind="tournament.hits"></span>
                              </td>

                              <td style="text-center-vertical">
                                <span ng-bind="tournament.score"></span>
                              </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-hide="hasScore">
    <div class="col-xs-12 news">
        <div class="no-content-panel" >
            <i class="mdi-action-info-outline"></i>
            <div class="no-content-panel-title" translate>EMPTY_STATES.POINTS</div>
        </div>
    </div>
</div>
