<!--<div class="row">-->
    <div id="wrapperH">
        <div id="scroller" ng-style="getTotalWidth()">
            <ul>
                <li ng-style="getWidth()" ng-repeat="league in leagues" on-last-repeat>
                    <div class="container">
                        <div class="row row-header row-header-competition">

                          <div class="col-xs-4 tabs text-left" ng-click="prevPage()">
                            <h6 ng-bind="leagues[$index-1].name"></h6>
                          </div>

                          <div class="col-xs-4">
                            <h5 ng-bind="league.name" class="caption"></h5>
                          </div>

                          <div class="col-xs-4 tabs text-right" ng-click="nextPage()">
                            <h6 ng-bind="leagues[$index+1].name"></h6>
                          </div>
                        </div>

                        <div class="row">
                            <div id="{{wrapper.getName($index)}}" class="wrapper wrapper-full">
                                <div class="scroller">
                                    <div class="container">
                                        <div class="col-xs-12" >
                                            <table  ng-show="league.scorers" class="table">
                                                <thead>
                                                <tr>
                                                    <th translate>SCORERS.PLAYER_NAME_LABEL</th>
                                                    <th translate>SCORERS.TEAM_LABEL</th>
                                                    <th translate>SCORERS.GOALS_LABEL</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <tr ng-repeat="scorer in league.scorers"
                                                    ng-class="{'active' : $odd}" >
                                                    <td class="text-left">
                                                        <span class="text-center-vertical"
                                                              ng-bind="scorer.fullName" ></span>
                                                    </td>
                                                    <td class="text-left">
                                                        <span class="text-center-vertical"
                                                              ng-bind="scorer.team.name"></span>
                                                    </td>
                                                    <td>
                                                        <span class="text-center-vertical"
                                                              ng-bind="scorer.goals"></span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>	<!--container-->
                                </div>	<!--scroller-->
                            </div> <!--wrapper-->
                        </div> <!--row-->
                    </div> <!--container-->
                </li>
            </ul>
        </div>
    </div>
<!--</div>-->
