<div class="row">
    <div id="wrapperH">
        <div id="scroller" ng-style="getTotalWidth()">
            <ul>
                <li ng-style="getWidth()" ng-repeat="league in item.leagues" on-last-repeat>
                    <div class="container">
                        <div class="row header">
                          <div class="col-xs-3 tabs text-left" ng-click="prevPage()">
                            <span ng-bind="item.leagues[$index-1].name"></span>
                          </div>

                          <div class="col-xs-6">
                            <h4 ng-bind="league.name" class="caption"></h4>
                          </div>

                          <div class="col-xs-3 tabs text-right" ng-click="nextPage()">
                            <span ng-bind="item.leagues[$index+1].name"></span>
                          </div>
                        </div>

                        <div class="row">
                            <div id="{{wrapper.getName($index)}}" class="wrapper wrapper-full" style="top:35px;">
                                <div class="scroller">
                                    <div class="container">
                                        <div class="col-xs-12" >
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th ng-bind="strings.PLAYER_NAME_LABEL"></th>
                                                    <th ng-bind="strings.TEAM_LABEL"></th>
                                                    <th ng-bind="strings.GOALS_LABEL"></th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <tr ng-repeat="scorer in league.scorers"
                                                    ng-class="{'active' : $odd}" >
                                                    <td class="text-left">
                                                        <span class="text-center-vertical"
                                                              ng-bind="getScorerName(scorer)" ></span>
                                                    </td>
                                                    <td class="text-left">
                                                        <span class="text-center-vertical"
                                                              ng-bind="scorer.team.name"></span>
                                                    </td>
                                                    <td>
                                                        <span class="text-center-vertical"
                                                              ng-bind="scorer.goals"></span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>	<!--container-->
                                </div>	<!--scroller-->
                            </div> <!--wrapper-->
                        </div> <!--row-->
                    </div> <!--container-->
                </li>
            </ul>
        </div>
    </div>
</div>
