<div class="row">
    <div id="wrapperH">
        <div id="scroller" style="width:{{widthTotal}}px;">
            <ul>
                <li style="width:{{width}}px;" ng-repeat="league in item.leagues" on-last-repeat>
                    <div class="container">

                        <div class="row header">

                          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tabs" style="text-align:left;" ng-click="prevPage()">
                            <button ng-bind="item.leagues[$index-1].name" ></button>
                          </div>

                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                            <h4 ng-bind="league.name" class="caption"></h4>
                          </div>

                          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tabs" style="text-align:right;" ng-click="nextPage()">
                            <button ng-bind="item.leagues[$index+1].name" ></button>
                          </div>

                        </div>


                        <div class="row">
                            <div id="{{wrapper.getName($index)}}" class="wrapper" >
                                <div class="scroller" >
                                    <div class="container">

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >

                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th style="text-align: left;">Nome do jogador</th>
                                                    <th style="text-align: left;">Equipe</th>
                                                    <th>Goles</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <tr ng-class="{'active' : $odd}" ng-repeat="scorer in league.scorers" >
                                                    <td style="text-align: left;"><span ng-bind="scorer.name" style="vertical-align: middle;"></span></td>
                                                    <td style="text-align: left;"><span ng-bind="scorer.team.name" style="vertical-align: middle;"></span></td>
                                                    <td><span ng-bind="scorer.goals" style="vertical-align: middle;"></span></td>
                                                </tr>

                                                </tbody>
                                            </table>

                                        </div>

                                    </div>	<!--container-->
                                </div>	<!--scroller-->
                            </div> <!--wrapper-->
                        </div> <!--row-->

                    </div> <!--container-->
                </li>
            </ul>
        </div>
    </div>
</div>
