<div class="row row-standings-header">
    <div class="col-xs-12 text-center text-center-vertical">
        <div class="news-header">
            <h4 class="title" translate>SECTIONS.NOTISTATS.STANDINGS</h4>
        </div>
    </div>
</div>

<div class="row">
    <div id="wrapper">
        <div class="scroller">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 competition"
                         ng-repeat="competition in item.competitions"
                         ng-click="showContentPhases(competition)"
                         data-news="{{ competition.id_competitions }}">
                        <h4>{{competition.name}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="wrapper2" class="page" style="left: 100%; z-index: 1;">
        <div class="scroller">
            <div class="container">

                <div class="row" style="margin-top: 40px !important;">
                    <div class="col-xs-12">
                        <span>&nbsp;</span>
                    </div>
                </div>

                <div class="row row-list-item" ng-repeat="phase in item.phases" ng-if="phase.has_ranking">
                    <div class="col-xs-12"
                         ng-click="showContentRanking(item.competition.id_competitions
                            , phase.id_phases)">
                        <h4 ng-bind="phase.global_name"></h4>
                    </div>
                </div>

            </div>
        </div>

        <div class="row-back border" ng-click="prevPage()">
            <div class="row">
                <div class="col-xs-12">
                    <span ng-bind="item.competition.name"
                          style="font-size: 2em; margin-left: 10px; font-weight: bold; vertical-align: baseline;"></span>
                </div>
            </div>
        </div>

    </div>


    <div id="wrapper3" class="page" style="left: 100%; z-index: 1;">

        <div class="scroller">
            <div class="container">

                <div class="row" style="margin-top: 80px !important;">
                    <div class="col-xs-12">
                        <span>&nbsp;</span>
                    </div>
                </div>

                <div ng-if="item.tree == true ">
                    <div class="row" ng-repeat="rankings in item.ranking">

                        <div class="col-xs-12"
                             ng-repeat="ranking in rankings.ranking">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th colspan="8" style="background-color: #3B9444;">
                                        <span>{{fromNow(ranking.date)}}</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="width: 33% !important;">
                                        <span ng-bind="ranking.homeTeam.name"></span>
                                        <br/>
                                        <span ng-bind="ranking.home_team_goals"></span>
                                    </td>
                                    <td style="width: 33% !important;">
                                        <span>VS</span>
                                        <br/>
                                        <span ng-bind="ranking.status.name"></span>
                                    </td>
                                    <td style="width: 33% !important;">
                                        <span ng-bind="ranking.awayTeam.name"></span>
                                        <br/>
                                        <span ng-bind="ranking.away_team_goals"></span>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div ng-if="item.tree == false ">
                    <div class="row" ng-repeat="rankings in item.ranking">

                        <div class="col-xs-12">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th colspan="8" style="background-color: #3B9444;">
                                        <span ng-bind="rankings.group_name"></span>
                                    </th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <!--TODO i18n-->
                                    <th style="text-align: left;">Classifica&ccedil;&atilde;o</th>
                                    <th>P</th>
                                    <th>J</th>
                                    <th>V</th>
                                    <th>E</th>
                                    <th>D</th>
                                    <th>SG</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-class="{'active' : $odd}" ng-repeat="ranking in rankings.ranking">
                                    <td>
                                        <span ng-bind="$index+1"
                                              class="text-center-vertical"></span>
                                    </td>
                                    <td style="text-align: left;">
                                        <span ng-bind="ranking.team.name"
                                              class="text-center-vertical"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="ranking.points"
                                              class="text-center-vertical"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="ranking.matches"
                                              class="text-center-vertical"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="ranking.matches_won"
                                              class="text-center-vertical"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="ranking.matches_drawn"
                                              class="text-center-vertical"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="ranking.matches_lost"
                                              class="text-center-vertical"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="ranking.goals_for"
                                              class="text-center-vertical"></span>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-back border" ng-click="prevPage()">
            <div class="row">
                <div class="col-xs-12">
                    <span ng-bind="item.phase.competition.name"
                          style="font-size: 2em; margin-left: 10px; font-weight: bold;"></span>
                </div>
            </div>
        </div>

        <div class="row-back" style="top:40px !important; background-color: #FAFAFA;">
            <div class="row">
                <div class="col-xs-12" style="text-align: center;">
                    <span ng-bind="item.phase.global_name"
                          style="font-size: 1.6em; font-weight: bold;"></span>
                </div>
            </div>
        </div>

    </div>
</div>





