
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" style="margin-top: -20px; position: absolute; z-index: 2;">
                    <div class="form-group search-bar well">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Find your Team" ng-model="searchQuery">
                            <span class="input-group-addon"><i class="icon mdi-action-search" style="font-size:1.8em;"></i></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div id="wrapper" style="margin-top: 68px !important;">
                <div class="scroller">
                    <div class="list-group">
                        <div ng-repeat="team in teams track by team.id_teams | filter: searchQuery">
                            <div class="list-group-item" ng-click="teamSelected(team)">
                                <div class="row-action-primary">
                                    <i ng-class="getTeamClass(team)"></i>
                                </div>
                                <div class="row-content">
                                    <h6 class="list-group-item-heading">{{getTeamName(team)}}</h6>
                                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </div>
                            <div class="list-group-separator"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>