@(currentPage: com.avaje.ebean.Page[models.tvmaxfeeds.TvmaxNewsCategory], currentSortBy: String, currentOrder: String, currentFilter: String, sortView: Boolean)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    controllers.routes.Category.list(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@title = {}

@main(title, nav = "") {
    
    <h1 id="homeTitle">@Messages("categories.list.title", currentPage.getTotalRowCount)</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Hecho!</strong> @flash.get("success")
        </div>
    } 

	<div id="alert" class="alert-message warning" style="display: none; ">
        <strong>Hecho!</strong>
    </div>


    <div id="actions">        
        <form action="@link(0, "name")" method="GET">
        	
        	@if(!sortView) {
        		<input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar por nombre de categoría...">
        		<input type="submit" id="searchsubmit" value="Filtrar por nombre" class="btn primary">	
        	}
        	 
        	<a class="btn success" id="add" href="@controllers.routes.Category.blank">Agregar nueva categoría</a>
        	
        	@if(sortView) {        		
        		<a class="btn success" id="ajax" href="#" data-url="/category/sort/">Aplicar</a>
        	}

        </form>
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>No hay nada que mostrar</em>
        </div>
        
    } else {
        @if(sortView) {
        	
        	<table id="sortable" class="zebra-striped">
	            <thead>
	                <tr>
						<th>Nombre</th>
						<th>Estatus</th>            	
	                </tr>
	            </thead>
	            <tbody>
	
	                @for(category <- currentPage.getList) {
	                    <tr data-id="@category.getIdNewsCategory()">
	                        <td><a href="#">@category.getDisplayName()</a></td>
	                        <td>
		                            @if(category.getStatus() == 1) {
		                                Activo
		                            } else {
		                                Inactivo
		                            }
		                     </td>		                                            
	                    </tr>
	                }
	
	            </tbody>
        	</table>
        	
        } else {
        
			<table class="zebra-striped">
	            <thead>
	                <tr>
	                    @header("name", "Nombre")
	                    @header("status", "Estatus")
	                </tr>
	            </thead>
	            <tbody>
	
	                @for(category <- currentPage.getList) {
	                    <tr data-id="@category.getIdNewsCategory()">
	                        <td><a href="@controllers.routes.Category.edit(category.getIdNewsCategory())">@category.getDisplayName()</a></td>
	                        <td>
		                            @if(category.getStatus() == 1) {
		                                Activo
		                            } else {
		                                Inactivo
		                            }
		                     </td>	                                             
	                    </tr>
	                }
	
	            </tbody>
	        </table>
	
	        <div id="pagination" class="pagination">
	            <ul>
	                @if(currentPage.hasPrev) {
	                    <li class="prev">
	                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Anterior</a>
	                    </li>
	                } else {
	                    <li class="prev disabled">
	                        <a>&larr; Anterior</a>
	                    </li>
	                }
	                <li class="current">
	                    <a>Listando del @currentPage.getDisplayXtoYofZ(" al "," de ")</a>
	                </li>
	                @if(currentPage.hasNext) {
	                    <li class="next">
	                        <a href="@link(currentPage.getPageIndex + 1, null)">Próximo &rarr;</a>
	                    </li>
	                } else {
	                    <li class="next disabled">
	                        <a>Próximo &rarr;</a>
	                    </li>
	                }
	            </ul>
	        </div>        
        
        	
        }
        
        
    }
        
}
