
	body.polemicas figure { width: 100%; height: auto;}
	body.polemicas figure img { width: 100%;  height: auto;}			
	body.polemicas figcaption {
		font-size : 1.2em;			
		padding: 5px; 
		width:100%; 
		line-height:20px;				 
		color:#ffffff; 
		text-align: left;
	    background-color:rgba(0,0,0,0.5);
	    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	}
