@(phases: List[models.matches.Phase])

	
@getGamePhase(p:Integer, i: Integer, ga: Integer, gb: Integer) = {
	
	@for(phase <- phases) {
		@if(phase.getIdPhase() == p) {				
			@for((group,index) <- phase.getMatchGroup().zipWithIndex) {
				@for(game  <- group.getGameMatch()) {

					@if(p == 6) { 
						
						<div class="row">	
							<div class="col-md-6">
								<div class="content-flag-score" data-alt="-" data-index="@game.getTeamA().getName()" style="margin: 0 auto;" >-</div>																	
							</div>
							<div class="col-md-6">
								<div class="content-flag-score" data-alt="-" data-index="@game.getTeamB().getName()" style="margin: 0 auto;">-</div>	
							</div>        
						</div>
						
					} else {
					
					
						@if(((index%i) == ga) || ((index%i) == gb)) {				 	
						 	<ul>					 		
								<!--li data-index="@game.getTeamA().getName()" data-phase="@p">@game.getTeamA().getName()</li>
								<li data-index="@game.getTeamB().getName()" data-phase="@p">@game.getTeamB().getName()</li-->
								
								 @if(p == 2) {
									<li><div class="content-flag-score" data-alt="@game.getTeamA().getName()" data-index="@game.getTeamA().getName()" >@game.getTeamA().getName()</div></li>
									<li><div class="content-flag-score" data-alt="@game.getTeamB().getName()" data-index="@game.getTeamB().getName()" >@game.getTeamB().getName()</div></li>									 	
								} 
								 
								@if(p == 3) {								 
								 	<li style="margin-bottom: 70px;"><div class="content-flag-score" data-alt="-" data-index="@game.getTeamA().getName()" >-</div></li>
									<li style="margin-bottom: 70px;"><div class="content-flag-score" data-alt="-" data-index="@game.getTeamB().getName()" >-</div></li>
								}
								
							 	@if(p == 4) {								 	
								 	<li style="margin-bottom: 200px;"><div class="content-flag-score" data-alt="-" data-index="@game.getTeamA().getName()" >-</div></li>
									<li style="margin-bottom: 200px;"><div class="content-flag-score" data-alt="-" data-index="@game.getTeamB().getName()" >-</div></li>
								}

							</ul>
						 }
						
					}

					 
					
				}
				 
			}
		
		}
	}
	
	    
}



@main("La polla de TVMax - FiFA World Cup Brasil 2014") {

	<script>
		var arrPhase = [];
		var arrGroup = [];
		var arrGame	= [];
		var arrTeamGame = [];
		var arrTeam	= [];
		var arrDataTeam	= [];
	</script>
	
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="btn-group">
					<button id="hola" type="button" class="btn btn-default">HOLA</button>
					<button id="save" type="button" class="btn btn-default">SAVE</button>
				</div>
			</div>
		</div>

		<div class="row">	
			<div class="col-md-12">
				<div class="btn-group">
					@for(phase <- phases) {
						@if(phase.getIdPhase() != 5) {
							<button data-phase="@phase.getIdPhase()" type="button" class="btn btn-default menu  @("hidden".when(phase.getIdPhase() != 1))">@phase.getName()</button>
														
						}
					}				  					
  				</div>							
			</div>    
		</div>
				
 		
		<!-- <phase> -->
		@for(phase <- phases) {
			
			
			
			
			@if(phase.getIdPhase() != 5) {
			
				<div data-phase="@phase.getIdPhase()"  class="row @("hidden".when(phase.getIdPhase() != 1)) phase" data-games="@{if(phase.getIdPhase() == 1) (phase.getMatchGroup().size()*4) else phase.getMatchGroup().size()}">
				
				
				
					<div class="col-md-12">
				

						<div class="row">
					
							<div class="@{if(phase.getIdPhase() == 1 ) "col-md-6" else "col-md-12"}" style="background-color:#173069; color:#FFFFFF; font-weight: bold; text-align: left;">								
								<span>Predicción @phase.getName()</span>					
							</div>
							
							@if(phase.getIdPhase() == 1) {
								<div class="col-md-6" style="background-color:#173069; color:#FFFFFF; font-weight: bold; text-align: right;">
									<span>Grupos </span>
									@if(phase.getIdPhase() == 1) {
										@for(group <- phase.getMatchGroup()) {
											<span data-group="@group.getIdGroup()" class="menu @("on".when(group.getIdGroup() == 1))" >@group.getName()</span>	
										}	
									} else {
										
									}				
								</div>
							}
							

					</div>
				

			
					<!--<group>-->
					
					@for(group <- phase.getMatchGroup()) {

						
						<div class="row group @("hidden".when(group.getIdGroup() != 1))"  data-group="@group.getIdGroup()">
						
							<div class="col-md-12">
						 
						
								<!--<game>-->
								@for((game, index) <- group.getGameMatch().zipWithIndex) {
									<div class="row game"  data-game="@game.getIdMatch()" data-set="false"  >

										<script>			
							  				$(function() {
							  					arrTeamGame.push({id:@game.getTeamA().getIdTeam(),goals:{f:0,a:0},points:0}, {id:@game.getTeamB().getIdTeam(),goals:{f:0,a:0},points:0});
							  					arrGame.push({id:@game.getIdMatch(),team:arrTeamGame});		  					
							  					arrTeamGame = [];
							  					@if(index <= 1) {		  					
													
													arrTeam.push({id:@game.getTeamA().getIdTeam(),name:'@game.getTeamA().getName()',shortName:'@game.getTeamA().getShortName()',flag:'@routes.Assets.at("images/flags/" + game.getTeamA().getFlagFile())',goals:{f:0,a:0,d:0},points:0});
													arrTeam.push({id:@game.getTeamB().getIdTeam(),name:'@game.getTeamB().getName()',shortName:'@game.getTeamB().getShortName()',flag:'@routes.Assets.at("images/flags/" + game.getTeamB().getFlagFile())',goals:{f:0,a:0,d:0},points:0});
																										
													arrDataTeam.push({id:@game.getTeamA().getIdTeam(),name:'@game.getTeamA().getName()',shortName:'@game.getTeamA().getShortName()',flag:'@routes.Assets.at("images/flags/" + game.getTeamA().getFlagFile())'});
													arrDataTeam.push({id:@game.getTeamB().getIdTeam(),name:'@game.getTeamB().getName()',shortName:'@game.getTeamB().getShortName()',flag:'@routes.Assets.at("images/flags/" + game.getTeamB().getFlagFile())'});
													
												}														
											});
							  			</script>
									
										
										
										<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
											
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 venue" >
													<div class="row" >
														<div class="col-xs-4 col-sm-4 col-md-12 col-lg-12 date" >
															<span style="color:#173069; ">@game.getDate().toString().substring(6, 8)/@game.getDate().toString().substring(4, 6)</span>
														</div>
														<div class="col-xs-4 col-sm-4 col-md-12 col-lg-12 date" >
															<span style="color:#b8b7b7; ">@game.getDate().toString().substring(8, 10):@game.getDate().toString().substring(11, 13)</span>
														</div>
														<div class="col-xs-4 col-sm-4 col-md-12 col-lg-12 date" >
															<span style="color:#b8b7b7; ">@game.getVenue().getName()</span>
														</div>
													</div>								
												</div>
											</div>
																		
										</div>
										<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" >

											<div class="row">
										
												<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 team" style="text-align: left; padding: 5px; " data-team="@game.getTeamA().getIdTeam()"   >
													<img class="flag" src="@routes.Assets.at("images/flags/" + game.getTeamA().getFlagFile())" alt="@game.getTeamA().getName()" />
													<span class="name">@game.getTeamA().getName()</span>
												</div>
														
												<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 score" >
																	
													<div class="row" style="text-align: center;" >
													
														<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 team" data-team="@game.getTeamA().getIdTeam()" >															
															<div class="row" >
																<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " >
																	<img class="arrow up" src="@routes.Assets.at("images/up.png")" />
																</div>
															</div>
															<div class="row" >
																<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 goal" data-goal="@game.getScoreTeamA()" >@game.getScoreTeamA()</div>
															</div>
															<div class="row" >
																<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
																	<img class="arrow down" src="@routes.Assets.at("images/down.png")" />										
																</div>
															</div>
														</div>
							
														<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 team" data-team="@game.getTeamB().getIdTeam()">														
															<div class="row" >
																<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " >
																	<img class="arrow up" src="@routes.Assets.at("images/up.png")" />
																</div>
															</div>
															<div class="row" >
																<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 goal" data-goal="@game.getScoreTeamB()"  >@game.getScoreTeamB()</div>
															</div>
															<div class="row" >
																<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
																	<img class="arrow down" src="@routes.Assets.at("images/down.png")" />										
																</div>
															</div>														
														</div>
														
													</div>												
					
												
												</div>										
															
												<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 team" style="text-align: right; padding: 5px; " data-team="@game.getTeamB().getIdTeam()" >
													<span class="name">@game.getTeamB().getName()</span>																									
													<img  class="flag" src="@routes.Assets.at("images/flags/" + game.getTeamB().getFlagFile())" alt="@game.getTeamB().getName()"   style="text-align: left;" />																																
												</div>
											
											</div>
		
										</div>
									</div>
								}
								<!--<game>-->

							</div>
							
							<script>			
								$(function() {
									arrGroup.push({id:@group.getIdGroup(), name:'@group.getName()',team:arrTeam,game:arrGame,classified:[], active:@{if(group.getIdGroup() == 1) true else false}});
									arrGame = [];
									arrTeam = [];
								});
							</script>		
						
						</div>
					}
					<!--<group>-->
					
					
					
	
				</div>
			</div>	
	
			<script>
				$(function() {
					arrPhase.push({id:@phase.getIdPhase(),name:'@phase.getName()',games:@{if(phase.getIdPhase() == 1) (phase.getMatchGroup().size()*4) else phase.getMatchGroup().size()}, group:arrGroup, active:@{if(phase.getIdPhase() == 1) true else false}});
					arrGroup = [];
				});
			</script>
			
			}
		} 
		<!-- </phase> -->



		@for(phase <- phases) {
			@if(phase.getIdPhase == 1) {

				<div class="row" >
					<div class="col-md-12" style="background-color:#173069; color:#FFFFFF; font-weight: bold;">Predicción por Grupos</div>
					@for((group,index) <- phase.getMatchGroup().zipWithIndex) {
						
						@if((index%4) == 0) {
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="background-color:#e2e2e3;">
								<div class="row" style=" padding: 5px;">
						}

						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="background: url(@routes.Assets.at("images/arrows/" + group.getName() + ".png")) no-repeat left; center; " >
							<div style="padding: 0px; margin-left:10px;">							
								<div data-group="@group.getIdGroup()" data-position="0" data-index="@group.getName()1" class="content-flag-score">@group.getName()1</div>	
								<div data-group="@group.getIdGroup()" data-position="1" data-index="@group.getName()2" class="content-flag-score">@group.getName()2</div>	
							</div>
						</div>
												
						@if((index%4) == 3) {
								</div>
							</div>
						}
						
					}
					
				</div>		
				
			}	

		}


		

















	<div id="keys" class="row"   >
		<div class="col-md-4">			
			<div class="row" >
				
				<div class="col-md-4" >
					@getGamePhase(2,4,0,1) 		
				</div>
				
				

				
				<div class="col-md-4" style="margin-top: 35px;">
					@getGamePhase(3,4,0,1)
				</div>
				
				
				<div class="col-md-4" >
					@getGamePhase(4,2,0,0)									
				</div>
				
			</div>
		</div>
		
		<div class="col-md-4">			
			<div class="row" >				
				<div class="col-md-12" style="margin-top: 100px; margin-bottom: 75px;">					
					<ul>
						<li>
							<div class="content-flag-score" data-alt="GANADOR!" data-index="WIN" style="margin: 0 auto;" >GANADOR!</div>
						</li>
					</ul>
					
				</div>
								
			</div>
			
			<div class="row">				
				<div class="col-md-12">
					@getGamePhase(6,1,0,0)
				</div>
			</div>
						
		</div>
		<div class="col-md-4">
					
					
			<div class="row" >

				<div class="col-md-4" style="margin-top: 100px;">
					@getGamePhase(4,2,1,1)
				</div>
				
				<div class="col-md-4" style="margin-top: 35px;">					
					@getGamePhase(3,4,2,3)
				</div>
				
				<div class="col-md-4">
					@getGamePhase(2,4,2,3) 	
				</div>
				
				
			</div>	
		</div>
	
					
	</div>
	

}
