@(phase: String, persons: List[Person])

@main("La polla de TVMax - FiFA World Cup Brasil 2014") {
    
    @*********************
	* @play20.welcome(phase, style = "Java")
	*********************@
	
	<!--h1>@phase</h1>

	<ul>
	@for(person <- persons) {
	  <li id="@person.id">@person.name</li>
	}
	</ul-->
	
	
	<div class="container">
		
		<div class="row">
			<div class="col-md-12" style="background-color:#173069; color:#FFFFFF; font-weight: bold;">Predicción Grupo B</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-md-6" style="background-color:#3c4d80; color:#FFFFFF; font-weight: bold; text-align: left">Grupo A</div>
			<div class="col-xs-12 col-md-6" style="background-color:#3c4d80; color:#FFFFFF; font-weight: bold; text-align: right;">Grupo C</div>
		</div>
		
		<div class="row">
			
			<div class="col-xs-12 col-sm-6 col-md-4" style="background-color:#eaeaee; padding:5px; text-align: center;">
				
				<div class="row" style="text-align: center; padding:5px">
					
					<table>
						<tr>
							<td style="width:33%; height: auto;" >
							
								<figure>
									<img data-game="1" data-team="a" class="flag off" src="@routes.Assets.at("images/flags/br-lgflag.png")" alt="Brasil" />
									<figcaption>BRA</figcaption>
								</figure>
							</td>
							<td style="width:33%; height: auto; text-align: center;">
								
								<div>
									<div style="width:15%; height: auto; float:left;" ><img data-game="1" data-team="a" class="arrow off" src="@routes.Assets.at("images/left.png")" /></div>
									<div style="width:70%; height: auto; float:left;"><h5 data-game="1" class="score" style="display:inline; font-size: x-small; ">SELECCIONE</h5></div>									
									<div style="width:15%; height: auto; float:left;"><img data-game="1" data-team="b" class="arrow off" src="@routes.Assets.at("images/right.png")" /></div>
								</div>
								
																				
								<img src="@routes.Assets.at("images/line.png")" alt="line" style="width:100%; height:1px;" />
																
							</td>
							<td style="width:33%; height: auto;">
								<figure>
									<img data-game="1" data-team="b" class="flag off" src="@routes.Assets.at("images/flags/hr-lgflag.png")" alt="Croacia" />
									<figcaption>CRC</figcaption>
								</figure>
							</td>
						</tr>
					</table>
					
					
				</div>

				<img src="@routes.Assets.at("images/line.png")" alt="line" style="width:75%; height:1px;" />

				<div class="row" style="text-align: center; padding:5px">
					
					<table>
						<tr>
							<td style="width:33%; height: auto;" >
							
								<figure>
									<img data-game="2" data-team="a" class="flag off" src="@routes.Assets.at("images/flags/mx-lgflag.png")" alt="México" />
									<figcaption>MEX</figcaption>
								</figure>
							</td>
							<td style="width:33%; height: auto; text-align: center;">
								
								<div>
									<div style="width:15%; height: auto; float:left;" ><img data-game="2" data-team="a" class="arrow off" src="@routes.Assets.at("images/left.png")" /></div>
									<div style="width:70%; height: auto; float:left;"><h5 data-game="2" class="score" style="display:inline; font-size: x-small; ">SELECCIONE</h5></div>									
									<div style="width:15%; height: auto; float:left;"><img data-game="2" data-team="b" class="arrow off" src="@routes.Assets.at("images/right.png")" /></div>
								</div>
								
																				
								<img src="@routes.Assets.at("images/line.png")" alt="line" style="width:100%; height:1px;" />
																
							</td>
							<td style="width:33%; height: auto;">
								<figure>
									<img data-game="2" data-team="b" class="flag off" src="@routes.Assets.at("images/flags/cm-lgflag.png")" alt="Croacia" />
									<figcaption>CMR</figcaption>
								</figure>
							</td>
						</tr>
					</table>

				</div>

			</div>
			<div class="col-xs-12 col-sm-6 col-md-4" style="background-color:#eaeaee; padding:5px; text-align: center;">
				<div class="row" style="text-align: center; padding:5px">
					
					<table>
						<tr>
							<td style="width:33%; height: auto;" >
							
								<figure>
									<img data-game="17" data-team="a" class="flag off" src="@routes.Assets.at("images/flags/br-lgflag.png")" alt="Brasil" />
									<figcaption>BRA</figcaption>
								</figure>
							</td>
							<td style="width:33%; height: auto; text-align: center;">
								
								<div>
									<div style="width:15%; height: auto; float:left;" ><img data-game="17" data-team="a" class="arrow off" src="@routes.Assets.at("images/left.png")" /></div>
									<div style="width:70%; height: auto; float:left;"><h5 data-game="17" class="score" style="display:inline; font-size: x-small; ">SELECCIONE</h5></div>									
									<div style="width:15%; height: auto; float:left;"><img data-game="17" data-team="b" class="arrow off" src="@routes.Assets.at("images/right.png")" /></div>
								</div>
								
																				
								<img src="@routes.Assets.at("images/line.png")" alt="line" style="width:100%; height:1px;" />
																
							</td>
							<td style="width:33%; height: auto;">
								<figure>
									<img data-game="17" data-team="b" class="flag off" src="@routes.Assets.at("images/flags/mx-lgflag.png")" alt="México" />
									<figcaption>MEX</figcaption>
								</figure>
							</td>
						</tr>
					</table>
					
					
				</div>
				
				<img src="@routes.Assets.at("images/line.png")" alt="line" style="width:75%; height:1px;" />

				<div class="row" style="text-align: center; padding:5px">
					
					<table>
						<tr>
							<td style="width:33%; height: auto;" >
							
								<figure>
									<img data-game="18" data-team="a" class="flag off" src="@routes.Assets.at("images/flags/cm-lgflag.png")" alt="Camerún" />
									<figcaption>CMR</figcaption>
								</figure>
							</td>
							<td style="width:33%; height: auto; text-align: center;">
								
								<div>
									<div style="width:15%; height: auto; float:left;" ><img data-game="18" data-team="a" class="arrow off" src="@routes.Assets.at("images/left.png")" /></div>
									<div style="width:70%; height: auto; float:left;"><h5 data-game="18" class="score" style="display:inline; font-size: x-small; ">SELECCIONE</h5></div>									
									<div style="width:15%; height: auto; float:left;"><img data-game="18" data-team="b" class="arrow off" src="@routes.Assets.at("images/right.png")" /></div>
								</div>
								
																				
								<img src="@routes.Assets.at("images/line.png")" alt="line" style="width:100%; height:1px;" />
																
							</td>
							<td style="width:33%; height: auto;">
								<figure>
									<img data-game="18" data-team="b" class="flag off" src="@routes.Assets.at("images/flags/hr-lgflag.png")" alt="Croacia" />
									<figcaption>CRC</figcaption>
								</figure>
							</td>
						</tr>
					</table>

				</div>
				
			</div>
			
			
		</div>
		
		
		
		

		
		<div class="row">
			<div class="col-md-12" style="background-color:#173069; color:#FFFFFF; font-weight: bold;">Predicción por Grupos</div>
		</div>
		
		
		
		
	</div>


	<!--img src="@routes.Assets.at("images/flags/ag-lgflag.png")" alt="Argelia" class="img-rounded" />
	<img src="@routes.Assets.at("images/flags/ar-lgflag.png")" alt="Argentina" class="img-rounded" />
	<img src="@routes.Assets.at("images/flags/as-lgflag.png")" alt="Australia" class="img-rounded" /-->

	
}
