@(resetPasswordForm: Form[models.matches.Client])

@import helper._
@import helper.twitterBootstrap._


@main("La polla de TVMax - FiFA World Cup Brasil 2014 - Registro") {
	
	<div class="row" >
		<div class="col-md-12 banner"  >
			&nbsp;
		</div>
	</div>
	
	<div class="row title" >
		<div class="col-md-12"  >
			<span>Restablecer contraseña</span>
		</div>
	</div>
	
	<div class="row" >
		<div class="col-md-12">
			
			<br />
			
			@if(flash.containsKey("danger")) {
        		<div class="alert alert-danger">@flash.get("danger")</div>
    		} 
			
			@if(flash.containsKey("success")) {			
        		<div class="alert alert-success">@flash.get("success")</div>
   			} else{
   				
   				<h3>¿Olvidaste tu contraseña?</h3>
				<p>Ingrese su cuenta de email para restablecer tu contraseña. Recibiras un email con instrucciones a seguir para completar el proceso.</p>
				
				 @helper.form(action = routes.ResetPassword.submit, 'role -> "form" ) {

						 @inputText(
			                resetPasswordForm("email"),
			                '_label -> "",
			                '_help -> "",
			                'class -> "form-control input",
			                'placeholder -> "Correo electrónico*"
		           		)
		           		
		      	<br />
				<button type="submit" class="btn btn-block button" >Enviar</button>				

    		}
				
				
   			} 
						
			

			
			
			
	
		</div>
	</div>	
   
    
}