@(signinForm: Form[models.matches.Client])

@import helper._
@import helper.twitterBootstrap._


@main("La polla de TVMax - FiFA World Cup Brasil 2014 - Registro") {
	
	<div class="row" >
		<div >
			<img src="@routes.Assets.at("images/banner.jpg")" style="width: 100%; height: auto;" >
		</div>
	</div>
	
	<div class="row title" >
		<div class="col-md-12"  >
			<span>Ingresar</span>
		</div>
	</div>
	
	<div class="row" >
		
		@if(flash.containsKey("danger")) {		
			<br />	
        	<div class="col-md-12">
				<div class="alert alert-danger">@flash.get("danger")</div>
			</div>			
    	} 

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 bar" >
			 @helper.form(action = routes.SignIn.submit, 'role -> "form" ) {

				@inputText(
	                signinForm("email"),
	                '_label -> "",
	                '_help -> "",
	                'class -> "form-control input",
	                'placeholder -> "Correo electrónico*"
	       		)
		
	
	     
	           	@inputPassword(
	                signinForm("password"), 
	                '_label -> "",
	                '_help -> "",
	                'class -> "form-control input",
		           	'placeholder -> "Contraseña*"
	            )
	     
	
				<input id="socialname" type="hidden" name="socialname" value='' >
		        <input id="socialemail" type="hidden" name="socialemail" value='' >	    	
				<input id="socialid" type="hidden" name="socialid" value='' >		
				
				<br />
				<button type="submit" class="btn btn-block button" >Ingresar</button>	
				<!--a href="@routes.ResetPassword.blank">¿Olvidaste tu contraseña?</a-->
				
			</div>		 
		}
		
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
			<br />
			<p>También puedes ingresar o registrarte a través de:</p>					 
			<button type="button" class="btn btn-block facebook" onclick="fejemplo();">Facebook</button>
			<a href="@routes.SignUp.blank"><button type="button" class="btn btn-block button" >Registrarse</button></a>							
		</div>	
		
		
				
	
	</div>	
   
    
}