@(news: models.football.News, resources: List[models.Resource])

@main(title = Messages("news.edit"), nav = "create") {

    <div class="jumbotron">

        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="alert alert-dismissable alert-success" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>¡Bien!</strong> Las im&eacute;genes se han asociado con &eacute;xito.
                    </div>

                    <div class="alert alert-dismissable alert-danger" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>¡Lo sentimos!</strong> Se ha generado un error asociando las im&aacute;genes.
                    </div>

                </div>
            </div>
        </div>


        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom">Bottom</button>


        <h1>@Html(news.getDecodedTitle())</h1>
        <p>@Html(news.getDecodedSummary())</p>


        <div class="bs-docs-section">


            <div class="row">
                <div class="col-lg-12">
                    <h2>@Messages("news.image.associated")</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                        <div class="list-group">
                            <div class="list-group-item related" style="width:100%; height:auto; min-height: 100px;">
                                @for((resource, index) <-  news.getResources().zipWithIndex) {
                                    <div id="row-picture-@resource.getIdResource()" data-resource="@resource.getIdResource()" class="row-picture related" draggable="true" style="cursor: pointer; padding-bottom: 5px;" data-toggle="modal" data-target="#myModal">
                                        <img class="img-rounded" src="@resource.getRemoteLocation()" data-metadata="@resource.getMetadata()" alt="icon" style="width: 100px; height: 100px;" >
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="metadata"></div>

        <div class="row">
            <div class="col-lg-12">
                <h2>@Messages("news.image.available")</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <div class="list-group">
                        <div class="list-group-item relatable" style="width:100%; height:auto; min-height: 100px;">
                            @for((resource, index) <-  resources.zipWithIndex) {
                                <div id="row-picture-@resource.getIdResource()" data-resource="@resource.getIdResource()" class="row-picture relatable" draggable="true" style="cursor: pointer; padding-bottom: 5px;" data-toggle="modal" data-target="#myModal" >
                                    <img class="img-rounded" src="@resource.getRemoteLocation()" data-metadata="@resource.getMetadata()" alt="icon" style="width: 100px; height: 100px;"  >
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <p style="text-align: right;">
            <a id="save" class="btn btn-primary btn-lg" data-news="@news.getIdNews()">@Messages("news.save")</a>
        </p>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog" style="width:50% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Messages("news.image.close")</span></button>
                        <h4 class="modal-title" id="myModalLabel">@Messages("news.image.detail")</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("news.image.close")</button>
                        <button type="button" class="btn btn-primary">@Messages("news.image.add")</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
<script>
			$(function() {


				var _fPostAjaXJSON = function(_url, _data) {

					try {
					  	return $.ajax({
							url: _url,
							data: JSON.stringify(_data),
							type: 'POST',
							dataType: 'json',
							contentType: "application/json; charset=utf-8",
						}).fail(function(jqXHR, textStatus, errorThrown) {
							return false;
						});
					} catch (e) {
						return false;
					}

				};



				$(document).on('dragstart', '.row-picture' ,function (e) {
				    var dataTransfer = e.originalEvent.dataTransfer;
				    dataTransfer.setData('text/html', this.id);
				});

				$(document).on('dragover', '.list-group-item.related',function (e) {
				    var event = e.originalEvent;
				    if (event.preventDefault) event.preventDefault();
				    return false;
				});

				$(document).on('drop', '.list-group-item.related' ,function (e) {
				    var event = e.originalEvent;
				  	if (event.stopPropagation) event.stopPropagation();
				    var dataTransfer = event.dataTransfer;
				    var draggedId = dataTransfer.getData('text/html');
				    if(draggedId.charAt(0) == '<'){
				        var temp = draggedId.split(">");
				        draggedId = temp[1];
				    }
                    var draggedElement = $('#' + draggedId);
				    draggedElement.removeClass('relatable');
				    draggedElement.addClass('related');
				    console.log(draggedElement);
				    $('.list-group-item.related').append(draggedElement[0].outerHTML);
				    draggedElement.remove();
				    return false;

				});


				$(document).on('dragover', '.list-group-item.relatable' ,function (e) {
				    var event = e.originalEvent;
				    if (event.preventDefault) event.preventDefault();
				    return false;
				});

				$(document).on('drop', '.list-group-item.relatable' ,function (e) {
				    var event = e.originalEvent;
				    if (event.stopPropagation) event.stopPropagation();
				    var dataTransfer = event.dataTransfer;
				    var draggedId = dataTransfer.getData('text/html');
				    var draggedElement = $('#' + draggedId);
				    draggedElement.removeClass('related');
				    draggedElement.addClass('relatable');
				    $('.list-group-item.relatable').append( draggedElement[0].outerHTML);
				    draggedElement.remove();
				    return false;
				});



				$('#save').click(function () {
                    var _data = {news:0,resources:[]};
					var _btn = $(this);

					_btn.button('loading');

					_data.news = _btn.data('news');

					$('div.row-picture.related').each(function(index) {
						_data.resources.push($(this).data('resource'));
					});


					var _oAjax = _fPostAjaXJSON('/newsapi/v1/news/resources/update',_data);

					if (_oAjax) {

						_oAjax.always(function () {
							_btn.button('reset');
						});

						_oAjax.done(function(_json) {
							$('.alert-success').show();
							setTimeout(function(){
								$('.alert-success').hide();
							}, 5000);
						});

						_oAjax.fail(function() {
							$('.alert-success').show();
							setTimeout(function() {
								$('.alert-success').hide();
							}, 5000);
						});

					} else {
						_btn.button('reset');
					}


				});


				$(document).on('click','div.modal-footer button.btn-primary',function(e) {
                    console.log('div.modal-footer button.btn-primary');
					var _id = $('#img div').attr('id');

					if ($(this).hasClass('related')) {
						$('.list-group-item.relatable').append($('#img').html());
						$('.list-group-item.related #' + _id).remove();
					} else {
						$('.list-group-item.related').append($('#img').html());
						$('.list-group-item.relatable #' + _id).remove();
					}

					$('#img').remove();
					$('#myModal').modal('hide');

				});

                $(document).on('mouseenter','img.img-rounded',function(e) {
                    var metadata = $(this).data('metadata');
                    console.log(JSON.stringify(metadata));
                    var _html = '<div class="row">';
                            _html += '<div class="col-sm-12 col-md-12">';
                                _html += ' <div class="thumbnail">';
                                    _html += '<div class="caption">';
                                        _html += '<h3>' + metadata.ObjectName + '</h3>';
                                        _html += '<h4>@Messages("news.image.caption")</h4>';
                                        _html += '<p>' + metadata.Caption + '</p>';
                                    _html += '</div>';
                                _html += '</div>';
                            _html += '</div>';
						_html += '</div>';


						_html += '<div id="img" style="display:none;">';
						_html += $(this).parent()[0].outerHTML;
						_html += '</div>';
                    $('#metadata').html(_html);
                });

				$(document).on('click','img.img-rounded',function(e) {
                    console.log('img.img-rounded');
					var _src = $(this).attr('src');
					var metadata = $(this).data('metadata');


					if ($(this).parent().hasClass('related')) {
						$(this).parent().removeClass('related');
						$(this).parent().addClass('relatable');
						$('.modal-footer button.btn-primary').removeClass('relatable');
						$('.modal-footer button.btn-primary').addClass('related');
					} else{
						$(this).parent().removeClass('relatable');
						$(this).parent().addClass('related');
						$('.modal-footer button.btn-primary').removeClass('related');
						$('.modal-footer button.btn-primary').addClass('relatable');
					}

					var _html = '<div class="row">';
						_html += '<div class="col-sm-12 col-md-12">';
						_html += ' <div class="thumbnail">';
						_html += '<img  alt="' + _src + '" src="' + _src +  '" >';
						_html += '<div class="caption">';
						_html += '<h3>' + metadata.ObjectName + '</h3>';
						_html += '<h4>@Messages("news.image.category")</h4>';
						_html += '<p>' + metadata.Category + '</p>';
						_html += '<h4>@Messages("news.image.suplementalcategory")</h4>';
						_html += '<p>' + metadata.SupplementalCategory + '</p>';
						_html += '<h4>@Messages("news.image.keywords")</h4>';
						_html += '<p>' + metadata.Keywords + '</p>';
						_html += '<h4>@Messages("news.image.datecreated")</h4>';
						_html += '<p>' + metadata.DateCreated + '</p>';
						_html += '<h4>@Messages("news.image.headline")</h4>';
						_html += '<p>' + metadata.Headline + '</p>';
						_html += '<h4>@Messages("news.image.caption")</h4>';
						_html += '<p>' + metadata.Caption + '</p>';
						_html += '</div>';
						_html += '</div>';
						_html += '</div>';
						_html += '</div>';


						_html += '<div id="img" style="display:none;">';
						_html += $(this).parent()[0].outerHTML;
						_html += '</div>';



					$('.modal-body').empty();
				    $('.modal-body').html(_html);

				});


			});

		</script>

}
