/*
 * Created with iconvau.lt
 */

@font-face {
  font-family: "iconvault";
  src: url("iconvault_2ed5ef102e00ddad22f2089a131041ad.eot");
  src: url("iconvault_2ed5ef102e00ddad22f2089a131041ad.eot?#iefix") format("embedded-opentype"),
       url("iconvault_2ed5ef102e00ddad22f2089a131041ad.woff") format("woff"),
       url("iconvault_2ed5ef102e00ddad22f2089a131041ad.ttf") format("truetype"),
       url("iconvault_2ed5ef102e00ddad22f2089a131041ad.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-internacionales:before,
.icon-deportes:before,
.icon-entretenimiento:before,
.icon-sobreapp:before,
.icon-tecnologia:before,
.icon-nacionales:before,
.icon-yoinformo:before,
.icon-politica:before,
.icon-salud:before {
  font-family: "iconvault";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-internacionales:before { content: "\f100"; }
.icon-deportes:before { content: "\f101"; }
.icon-entretenimiento:before { content: "\f102"; }
.icon-sobreapp:before { content: "\f103"; }
.icon-tecnologia:before { content: "\f104"; }
.icon-nacionales:before { content: "\f105"; }
.icon-yoinformo:before { content: "\f106"; }
.icon-politica:before { content: "\f107"; }
.icon-salud:before { content: "\f108"; }