
@media (max-width: 767px) { 	
	#brackets {display:none;} 
	.name {display:none;}
	.date {text-align: center;}
	.venue {background-color: #FFFFFF; height: auto; padding: 5px;}
	.game {height:auto; padding:5px}	
	.row.menu.small, .row.menu.session {display: block}
	.row.menu.large {display: none}
	.prediction {display: none}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 	
	#brackets {display:none;} 
	.name {display:inline;}
	.date {text-align: center;}
	.venue {background-color: #FFFFFF; height: auto; padding: 5px;}
	.game {height:auto; padding:5px}
	.row.menu.small, .row.menu.session {display: block}
	.row.menu.large {display: none}
	.prediction {display: none}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 	
	#brackets {display:block; }
	.name {display:inline;} 	
	.date {text-align: left;}
	.venue {background-color: #FFFFFF; height: 57px; padding: 5px;}
	.game {height:70px; padding:5px}
	.row.menu.small, .row.menu.session {display: none}
	.row.menu.large {display: block}
	.prediction {display: block}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 		
	#brackets {display:block;}	
	.name {display:inline;}
	.date {text-align: left;}
	.venue { background-color: #FFFFFF; height: 57px; padding: 5px;}
	.game {height:70px; padding:5px}
	.row.menu.small, .row.menu.session {display: none}
	.row.menu.large {display: block}
	.prediction {display: block}	
}

