@(userForm: Form[models.user.U01_Users])

@import helper._
@import helper.twitterBootstrap._

@title = {}

@main(title, nav = "create") {
	
    @helper.form(action = controllers.routes.User.submit) {
        
        <fieldset>
            <legend>Account informations</legend>
            
            @inputText(
                userForm("u01_Login"), 
                '_label -> "Login", 
                '_help -> "Please choose a valid Login.",
                '_error -> userForm.globalError
            )
            
            @inputPassword(
                userForm("u01_Password"),
                '_label -> "Password",
                '_help -> "Enter a valid password."
            )
                        
			@inputPassword(
                userForm("u01_Password_Confirmation"),
                '_label -> "Password Confirmation",
 				'_help -> "Repeat your password again.",
                '_error -> userForm.error("u01_Password")
            )
            
            @inputText(
                userForm("u01_Email"),
                '_label -> "Email",
                '_help -> "Enter a valid email."
            )
            
            @inputText(
                userForm("u01_Email_Confirmation"),
                'class-> "required",
                '_label -> "Email Confirmation",
 				'_help -> "Repeat your email again.",
                '_error -> userForm.error("u01_Email")
            )
                        
            
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Create this user">
            <a href="@controllers.routes.User.list()" class="btn">Cancel</a>
        </div>
        
    }
    
}