@(currentPage: com.avaje.ebean.Page[models.user.U01_Users], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    controllers.routes.User.list(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@title = {}

@main(title, nav = "") {
    
    <h1 id="homeTitle">@Messages("users.list.title", currentPage.getTotalRowCount)</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 


    <div id="actions">        
        <form action="@link(0, "u01_Login")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by user login...">
            <input type="submit" id="searchsubmit" value="Filter by login" class="btn primary">
            <a class="btn success" id="add" href="@controllers.routes.User.blank()">Add a new user</a>            
        </form>
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="users zebra-striped">
            <thead>
                <tr>
                    @header("u01_Login", "Login")
                    @header("u01_Email", "Email")
                </tr>
            </thead>
            <tbody>
            	
                @for(user <- currentPage.getList) {
                    <tr>
                        <td><a href="@controllers.routes.User.edit(user.u01_Id)">@user.u01_Login</a></td>
                        <td>@user.u01_Email</td>                                          
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
        
}
