@(id: Integer, countryViewForm: Form[models.basic.Country])

@import helper._
@import helper.twitterBootstrap._

@title = {}

@main(title = "Editar Country", nav = "create") {

    @if(countryViewForm.hasErrors) {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Oh snap!</strong> <a href="javascript:void(0)" class="alert-link">Change a few things up</a> and try submitting again.
            <p>@countryViewForm.errorsAsJson</p>
        </div>
    }

    <h1>Edit Country</h1>

    @helper.form(controllers.routes.CountriesView.update(id), 'enctype -> "multipart/form-data") {

        <fieldset>
            <legend>Informacion del country</legend>

            @inputText(
                countryViewForm("name"),
                '_label -> "Name",
                '_help -> "Ingrese un nombre válido.",
                'class -> "form-control",
                '_error -> countryViewForm.globalError
            )

            @inputText(
                countryViewForm("shortName"),
                '_label -> "Short Name",
                '_help -> "Ingrese un nombre válido.",
                'class -> "form-control",
                '_error -> countryViewForm.globalError
            )

            @inputText(
                countryViewForm("active"),
                '_label -> "Active",
                '_help -> "Ingrese 0 o 1.",
                'class -> "form-control",
                '_error -> countryViewForm.globalError
            )

            @select(
                countryViewForm("language"),
                models.basic.Language.toSeq,
                '_label -> "Language",
                'class -> "form-control"
            )


        </fieldset>

        <div class="actions">
            <input type="submit" value="Actualizar este country" onclick="return confirm('¿Por favor confirmar que desea actualizar la información del country?');" class="btn btn-success">
            <a href="@controllers.routes.CountriesView.list()" class="btn btn-primary">Cancelar</a>
        </div>

    }

    @form(controllers.routes.CountriesView.delete(id), 'class -> "topRight") {
        <input type="submit" value="Eliminar este Country" onclick="return confirm('¿Por favor confirmar que desea eliminar la información de este country?');" class="btn btn-danger">

    }

}
